apispec==5.1.1
click==8.0.4
functions-framework==3.0.0
google-api-python-client==2.55.0
marshmallow==3.15.0
ruamel.yaml==0.17.21
markupsafe==2.0.1
opentelemetry-api
opentelemetry-sdk
opentelemetry-exporter-gcp-trace
opentelemetry-instrumentation
opentelemetry-instrumentation-flask
opentelemetry-propagator-gcp