apispec==5.1.1
click==8.0.4
functions-framework==3.0.0
marshmallow==3.15.0
pydantic==1.10.2
ruamel.yaml==0.17.21
markupsafe==2.0.1
google-cloud-logging==3.1.2
google-api-python-client==2.55.0
protobuf==3.20.3
git+https://github.com/diegoandresdiazespinoza/goblet@332ee81
