{
  "ownerName": "Google",
  "servicePath": "",
  "title": "Cloud Build API",
  "baseUrl": "https://cloudbuild.googleapis.com/",
  "name": "cloudbuild",
  "mtlsRootUrl": "https://cloudbuild.mtls.googleapis.com/",
  "parameters": {
    "$.xgafv": {
      "location": "query",
      "enum": [
        "1",
        "2"
      ],
      "description": "V1 error format.",
      "type": "string",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ]
    },
    "alt": {
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "location": "query",
      "default": "json",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "type": "string",
      "description": "Data format for response."
    },
    "key": {
      "type": "string",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query"
    },
    "fields": {
      "description": "Selector specifying which fields to include in a partial response.",
      "type": "string",
      "location": "query"
    },
    "upload_protocol": {
      "type": "string",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "location": "query"
    },
    "quotaUser": {
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "location": "query",
      "type": "string"
    },
    "access_token": {
      "description": "OAuth access token.",
      "location": "query",
      "type": "string"
    },
    "oauth_token": {
      "description": "OAuth 2.0 token for the current user.",
      "location": "query",
      "type": "string"
    },
    "prettyPrint": {
      "default": "true",
      "location": "query",
      "type": "boolean",
      "description": "Returns response with indentations and line breaks."
    },
    "callback": {
      "location": "query",
      "type": "string",
      "description": "JSONP"
    },
    "uploadType": {
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "type": "string",
      "location": "query"
    }
  },
  "discoveryVersion": "v1",
  "protocol": "rest",
  "fullyEncodeReservedExpansion": true,
  "icons": {
    "x32": "http://www.google.com/images/icons/product/search-32.gif",
    "x16": "http://www.google.com/images/icons/product/search-16.gif"
  },
  "documentationLink": "https://cloud.google.com/cloud-build/docs/",
  "resources": {
    "locations": {
      "methods": {
        "regionalWebhook": {
          "request": {
            "$ref": "#/schemas/HttpBody"
          },
          "httpMethod": "POST",
          "response": {
            "$ref": "#/schemas/Empty"
          },
          "description": "ReceiveRegionalWebhook is called when the API receives a regional GitHub webhook.",
          "id": "cloudbuild.locations.regionalWebhook",
          "path": "v1/{+location}/regionalWebhook",
          "parameterOrder": [
            "location"
          ],
          "flatPath": "v1/locations/{locationsId}/regionalWebhook",
          "parameters": {
            "location": {
              "pattern": "^locations/[^/]+$",
              "type": "string",
              "required": true,
              "location": "path",
              "description": "Required. The location where the webhook should be sent."
            },
            "webhookKey": {
              "description": "For GitHub Enterprise webhooks, this key is used to associate the webhook request with the GitHubEnterpriseConfig to use for validation.",
              "type": "string",
              "location": "query"
            }
          }
        }
      }
    },
    "operations": {
      "methods": {
        "get": {
          "path": "v1/{+name}",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "parameterOrder": [
            "name"
          ],
          "id": "cloudbuild.operations.get",
          "description": "Gets the latest state of a long-running operation. Clients can use this method to poll the operation result at intervals as recommended by the API service.",
          "httpMethod": "GET",
          "parameters": {
            "name": {
              "location": "path",
              "type": "string",
              "description": "The name of the operation resource.",
              "required": true,
              "pattern": "^operations/.*$"
            }
          },
          "response": {
            "$ref": "#/schemas/Operation"
          },
          "flatPath": "v1/operations/{operationsId}"
        },
        "cancel": {
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "flatPath": "v1/operations/{operationsId}:cancel",
          "path": "v1/{+name}:cancel",
          "httpMethod": "POST",
          "id": "cloudbuild.operations.cancel",
          "parameters": {
            "name": {
              "required": true,
              "location": "path",
              "pattern": "^operations/.*$",
              "description": "The name of the operation resource to be cancelled.",
              "type": "string"
            }
          },
          "request": {
            "$ref": "#/schemas/CancelOperationRequest"
          },
          "parameterOrder": [
            "name"
          ],
          "response": {
            "$ref": "#/schemas/Empty"
          },
          "description": "Starts asynchronous cancellation on a long-running operation. The server makes a best effort to cancel the operation, but success is not guaranteed. If the server doesn't support this method, it returns `google.rpc.Code.UNIMPLEMENTED`. Clients can use Operations.GetOperation or other methods to check whether the cancellation succeeded or whether the operation completed despite cancellation. On successful cancellation, the operation is not deleted; instead, it becomes an operation with an Operation.error value with a google.rpc.Status.code of 1, corresponding to `Code.CANCELLED`."
        }
      }
    },
    "githubDotComWebhook": {
      "methods": {
        "receive": {
          "request": {
            "$ref": "#/schemas/HttpBody"
          },
          "httpMethod": "POST",
          "response": {
            "$ref": "#/schemas/Empty"
          },
          "path": "v1/githubDotComWebhook:receive",
          "description": "ReceiveGitHubDotComWebhook is called when the API receives a github.com webhook.",
          "parameterOrder": [],
          "flatPath": "v1/githubDotComWebhook:receive",
          "parameters": {
            "webhookKey": {
              "description": "For GitHub Enterprise webhooks, this key is used to associate the webhook request with the GitHubEnterpriseConfig to use for validation.",
              "type": "string",
              "location": "query"
            }
          },
          "id": "cloudbuild.githubDotComWebhook.receive"
        }
      }
    },
    "projects": {
      "resources": {
        "locations": {
          "resources": {
            "gitLabConfigs": {
              "resources": {
                "repos": {
                  "methods": {
                    "list": {
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "response": {
                        "$ref": "#/schemas/ListGitLabRepositoriesResponse"
                      },
                      "parameterOrder": [
                        "parent"
                      ],
                      "id": "cloudbuild.projects.locations.gitLabConfigs.repos.list",
                      "parameters": {
                        "pageToken": {
                          "type": "string",
                          "description": "A page token, received from a previous ListGitLabRepositoriesRequest` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListGitLabRepositoriesRequest` must match the call that provided the page token.",
                          "location": "query"
                        },
                        "parent": {
                          "required": true,
                          "location": "path",
                          "pattern": "^projects/[^/]+/locations/[^/]+/gitLabConfigs/[^/]+$",
                          "type": "string",
                          "description": "Required. Name of the parent resource."
                        },
                        "pageSize": {
                          "type": "integer",
                          "location": "query",
                          "format": "int32",
                          "description": "The maximum number of repositories to return. The service may return fewer than this value."
                        }
                      },
                      "httpMethod": "GET",
                      "description": "List all repositories for a given `GitLabConfig`. This API is experimental",
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/gitLabConfigs/{gitLabConfigsId}/repos",
                      "path": "v1/{+parent}/repos"
                    }
                  }
                },
                "connectedRepositories": {
                  "methods": {
                    "batchCreate": {
                      "request": {
                        "$ref": "#/schemas/BatchCreateGitLabConnectedRepositoriesRequest"
                      },
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/gitLabConfigs/{gitLabConfigsId}/connectedRepositories:batchCreate",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "path": "v1/{+parent}/connectedRepositories:batchCreate",
                      "id": "cloudbuild.projects.locations.gitLabConfigs.connectedRepositories.batchCreate",
                      "httpMethod": "POST",
                      "response": {
                        "$ref": "#/schemas/Operation"
                      },
                      "description": "Batch connecting GitLab repositories to Cloud Build. This API is experimental.",
                      "parameters": {
                        "parent": {
                          "pattern": "^projects/[^/]+/locations/[^/]+/gitLabConfigs/[^/]+$",
                          "description": "The name of the `GitLabConfig` that adds connected repositories. Format: `projects/{project}/locations/{location}/gitLabConfigs/{config}`",
                          "location": "path",
                          "required": true,
                          "type": "string"
                        }
                      },
                      "parameterOrder": [
                        "parent"
                      ]
                    }
                  }
                }
              },
              "methods": {
                "create": {
                  "description": "Creates a new `GitLabConfig`. This API is experimental",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/gitLabConfigs",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameterOrder": [
                    "parent"
                  ],
                  "parameters": {
                    "parent": {
                      "type": "string",
                      "description": "Required. Name of the parent resource.",
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "location": "path"
                    },
                    "gitlabConfigId": {
                      "description": "Optional. The ID to use for the GitLabConfig, which will become the final component of the GitLabConfig\u2019s resource name. gitlab_config_id must meet the following requirements: + They must contain only alphanumeric characters and dashes. + They can be 1-64 characters long. + They must begin and end with an alphanumeric character",
                      "location": "query",
                      "type": "string"
                    }
                  },
                  "response": {
                    "$ref": "#/schemas/Operation"
                  },
                  "id": "cloudbuild.projects.locations.gitLabConfigs.create",
                  "request": {
                    "$ref": "#/schemas/GitLabConfig"
                  },
                  "path": "v1/{+parent}/gitLabConfigs",
                  "httpMethod": "POST"
                },
                "removeGitLabConnectedRepository": {
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/gitLabConfigs/{gitLabConfigsId}:removeGitLabConnectedRepository",
                  "response": {
                    "$ref": "#/schemas/Empty"
                  },
                  "id": "cloudbuild.projects.locations.gitLabConfigs.removeGitLabConnectedRepository",
                  "request": {
                    "$ref": "#/schemas/RemoveGitLabConnectedRepositoryRequest"
                  },
                  "httpMethod": "POST",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "path": "v1/{+config}:removeGitLabConnectedRepository",
                  "parameterOrder": [
                    "config"
                  ],
                  "parameters": {
                    "config": {
                      "required": true,
                      "description": "Required. The name of the `GitLabConfig` to remove a connected repository. Format: `projects/{project}/locations/{location}/gitLabConfigs/{config}`",
                      "pattern": "^projects/[^/]+/locations/[^/]+/gitLabConfigs/[^/]+$",
                      "type": "string",
                      "location": "path"
                    }
                  },
                  "description": "Remove a GitLab repository from a given GitLabConfig's connected repositories. This API is experimental."
                },
                "list": {
                  "description": "List all `GitLabConfigs` for a given project. This API is experimental",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "response": {
                    "$ref": "#/schemas/ListGitLabConfigsResponse"
                  },
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/gitLabConfigs",
                  "parameters": {
                    "pageToken": {
                      "location": "query",
                      "description": "A page token, received from a previous \u2018ListGitlabConfigsRequest\u2019 call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to \u2018ListGitlabConfigsRequest\u2019 must match the call that provided the page token.",
                      "type": "string"
                    },
                    "pageSize": {
                      "location": "query",
                      "type": "integer",
                      "description": "The maximum number of configs to return. The service may return fewer than this value. If unspecified, at most 50 configs will be returned. The maximum value is 1000;, values above 1000 will be coerced to 1000.",
                      "format": "int32"
                    },
                    "parent": {
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "description": "Required. Name of the parent resource",
                      "type": "string",
                      "required": true,
                      "location": "path"
                    }
                  },
                  "id": "cloudbuild.projects.locations.gitLabConfigs.list",
                  "httpMethod": "GET",
                  "parameterOrder": [
                    "parent"
                  ],
                  "path": "v1/{+parent}/gitLabConfigs"
                },
                "delete": {
                  "id": "cloudbuild.projects.locations.gitLabConfigs.delete",
                  "parameters": {
                    "name": {
                      "location": "path",
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+/gitLabConfigs/[^/]+$",
                      "type": "string",
                      "description": "Required. The config resource name."
                    }
                  },
                  "response": {
                    "$ref": "#/schemas/Operation"
                  },
                  "path": "v1/{+name}",
                  "description": "Delete a `GitLabConfig`. This API is experimental",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "httpMethod": "DELETE",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/gitLabConfigs/{gitLabConfigsId}",
                  "parameterOrder": [
                    "name"
                  ]
                },
                "get": {
                  "parameterOrder": [
                    "name"
                  ],
                  "httpMethod": "GET",
                  "path": "v1/{+name}",
                  "description": "Retrieves a `GitLabConfig`. This API is experimental",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/gitLabConfigs/{gitLabConfigsId}",
                  "response": {
                    "$ref": "#/schemas/GitLabConfig"
                  },
                  "parameters": {
                    "name": {
                      "description": "Required. The config resource name.",
                      "location": "path",
                      "required": true,
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+/gitLabConfigs/[^/]+$"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "id": "cloudbuild.projects.locations.gitLabConfigs.get"
                },
                "patch": {
                  "path": "v1/{+name}",
                  "request": {
                    "$ref": "#/schemas/GitLabConfig"
                  },
                  "httpMethod": "PATCH",
                  "parameterOrder": [
                    "name"
                  ],
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/gitLabConfigs/{gitLabConfigsId}",
                  "response": {
                    "$ref": "#/schemas/Operation"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "id": "cloudbuild.projects.locations.gitLabConfigs.patch",
                  "description": "Updates an existing `GitLabConfig`. This API is experimental",
                  "parameters": {
                    "name": {
                      "location": "path",
                      "description": "The resource name for the config.",
                      "required": true,
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+/gitLabConfigs/[^/]+$"
                    },
                    "updateMask": {
                      "type": "string",
                      "format": "google-fieldmask",
                      "location": "query",
                      "description": "Update mask for the resource. If this is set, the server will only update the fields specified in the field mask. Otherwise, a full update of the mutable resource fields will be performed."
                    }
                  }
                }
              }
            },
            "bitbucketServerConfigs": {
              "methods": {
                "delete": {
                  "httpMethod": "DELETE",
                  "description": "Delete a `BitbucketServerConfig`. This API is experimental.",
                  "parameterOrder": [
                    "name"
                  ],
                  "response": {
                    "$ref": "#/schemas/Operation"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/bitbucketServerConfigs/{bitbucketServerConfigsId}",
                  "path": "v1/{+name}",
                  "id": "cloudbuild.projects.locations.bitbucketServerConfigs.delete",
                  "parameters": {
                    "name": {
                      "description": "Required. The config resource name.",
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+/bitbucketServerConfigs/[^/]+$",
                      "required": true,
                      "location": "path"
                    }
                  }
                },
                "get": {
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameterOrder": [
                    "name"
                  ],
                  "httpMethod": "GET",
                  "response": {
                    "$ref": "#/schemas/BitbucketServerConfig"
                  },
                  "parameters": {
                    "name": {
                      "required": true,
                      "description": "Required. The config resource name.",
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+/bitbucketServerConfigs/[^/]+$",
                      "location": "path"
                    }
                  },
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/bitbucketServerConfigs/{bitbucketServerConfigsId}",
                  "id": "cloudbuild.projects.locations.bitbucketServerConfigs.get",
                  "description": "Retrieve a `BitbucketServerConfig`. This API is experimental.",
                  "path": "v1/{+name}"
                },
                "removeBitbucketServerConnectedRepository": {
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "path": "v1/{+config}:removeBitbucketServerConnectedRepository",
                  "id": "cloudbuild.projects.locations.bitbucketServerConfigs.removeBitbucketServerConnectedRepository",
                  "description": "Remove a Bitbucket Server repository from a given BitbucketServerConfig's connected repositories. This API is experimental.",
                  "response": {
                    "$ref": "#/schemas/Empty"
                  },
                  "request": {
                    "$ref": "#/schemas/RemoveBitbucketServerConnectedRepositoryRequest"
                  },
                  "httpMethod": "POST",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/bitbucketServerConfigs/{bitbucketServerConfigsId}:removeBitbucketServerConnectedRepository",
                  "parameterOrder": [
                    "config"
                  ],
                  "parameters": {
                    "config": {
                      "description": "Required. The name of the `BitbucketServerConfig` to remove a connected repository. Format: `projects/{project}/locations/{location}/bitbucketServerConfigs/{config}`",
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+/bitbucketServerConfigs/[^/]+$",
                      "type": "string",
                      "location": "path"
                    }
                  }
                },
                "list": {
                  "httpMethod": "GET",
                  "path": "v1/{+parent}/bitbucketServerConfigs",
                  "parameterOrder": [
                    "parent"
                  ],
                  "parameters": {
                    "parent": {
                      "location": "path",
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "description": "Required. Name of the parent resource.",
                      "required": true
                    },
                    "pageSize": {
                      "location": "query",
                      "description": "The maximum number of configs to return. The service may return fewer than this value. If unspecified, at most 50 configs will be returned. The maximum value is 1000; values above 1000 will be coerced to 1000.",
                      "format": "int32",
                      "type": "integer"
                    },
                    "pageToken": {
                      "type": "string",
                      "location": "query",
                      "description": "A page token, received from a previous `ListBitbucketServerConfigsRequest` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListBitbucketServerConfigsRequest` must match the call that provided the page token."
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "response": {
                    "$ref": "#/schemas/ListBitbucketServerConfigsResponse"
                  },
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/bitbucketServerConfigs",
                  "id": "cloudbuild.projects.locations.bitbucketServerConfigs.list",
                  "description": "List all `BitbucketServerConfigs` for a given project. This API is experimental."
                },
                "patch": {
                  "request": {
                    "$ref": "#/schemas/BitbucketServerConfig"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/bitbucketServerConfigs/{bitbucketServerConfigsId}",
                  "parameterOrder": [
                    "name"
                  ],
                  "id": "cloudbuild.projects.locations.bitbucketServerConfigs.patch",
                  "httpMethod": "PATCH",
                  "path": "v1/{+name}",
                  "description": "Updates an existing `BitbucketServerConfig`. This API is experimental.",
                  "response": {
                    "$ref": "#/schemas/Operation"
                  },
                  "parameters": {
                    "updateMask": {
                      "type": "string",
                      "format": "google-fieldmask",
                      "description": "Update mask for the resource. If this is set, the server will only update the fields specified in the field mask. Otherwise, a full update of the mutable resource fields will be performed.",
                      "location": "query"
                    },
                    "name": {
                      "required": true,
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+/bitbucketServerConfigs/[^/]+$",
                      "description": "The resource name for the config.",
                      "type": "string"
                    }
                  }
                },
                "create": {
                  "description": "Creates a new `BitbucketServerConfig`. This API is experimental.",
                  "httpMethod": "POST",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "response": {
                    "$ref": "#/schemas/Operation"
                  },
                  "request": {
                    "$ref": "#/schemas/BitbucketServerConfig"
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/bitbucketServerConfigs",
                  "id": "cloudbuild.projects.locations.bitbucketServerConfigs.create",
                  "parameters": {
                    "parent": {
                      "location": "path",
                      "description": "Required. Name of the parent resource.",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "type": "string",
                      "required": true
                    },
                    "bitbucketServerConfigId": {
                      "type": "string",
                      "description": "Optional. The ID to use for the BitbucketServerConfig, which will become the final component of the BitbucketServerConfig's resource name. bitbucket_server_config_id must meet the following requirements: + They must contain only alphanumeric characters and dashes. + They can be 1-64 characters long. + They must begin and end with an alphanumeric character.",
                      "location": "query"
                    }
                  },
                  "path": "v1/{+parent}/bitbucketServerConfigs"
                }
              },
              "resources": {
                "connectedRepositories": {
                  "methods": {
                    "batchCreate": {
                      "id": "cloudbuild.projects.locations.bitbucketServerConfigs.connectedRepositories.batchCreate",
                      "description": "Batch connecting Bitbucket Server repositories to Cloud Build.",
                      "parameterOrder": [
                        "parent"
                      ],
                      "parameters": {
                        "parent": {
                          "type": "string",
                          "location": "path",
                          "required": true,
                          "description": "The name of the `BitbucketServerConfig` that added connected repository. Format: `projects/{project}/locations/{location}/bitbucketServerConfigs/{config}`",
                          "pattern": "^projects/[^/]+/locations/[^/]+/bitbucketServerConfigs/[^/]+$"
                        }
                      },
                      "request": {
                        "$ref": "#/schemas/BatchCreateBitbucketServerConnectedRepositoriesRequest"
                      },
                      "response": {
                        "$ref": "#/schemas/Operation"
                      },
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/bitbucketServerConfigs/{bitbucketServerConfigsId}/connectedRepositories:batchCreate",
                      "path": "v1/{+parent}/connectedRepositories:batchCreate",
                      "httpMethod": "POST",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ]
                    }
                  }
                },
                "repos": {
                  "methods": {
                    "list": {
                      "parameters": {
                        "parent": {
                          "pattern": "^projects/[^/]+/locations/[^/]+/bitbucketServerConfigs/[^/]+$",
                          "description": "Required. Name of the parent resource.",
                          "type": "string",
                          "required": true,
                          "location": "path"
                        },
                        "pageToken": {
                          "description": "A page token, received from a previous `ListBitbucketServerRepositoriesRequest` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListBitbucketServerConfigsRequest` must match the call that provided the page token.",
                          "type": "string",
                          "location": "query"
                        },
                        "pageSize": {
                          "description": "The maximum number of configs to return. The service may return fewer than this value. The maximum value is 1000; values above 1000 will be coerced to 1000.",
                          "type": "integer",
                          "location": "query",
                          "format": "int32"
                        }
                      },
                      "response": {
                        "$ref": "#/schemas/ListBitbucketServerRepositoriesResponse"
                      },
                      "httpMethod": "GET",
                      "parameterOrder": [
                        "parent"
                      ],
                      "description": "List all repositories for a given `BitbucketServerConfig`. This API is experimental.",
                      "path": "v1/{+parent}/repos",
                      "id": "cloudbuild.projects.locations.bitbucketServerConfigs.repos.list",
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/bitbucketServerConfigs/{bitbucketServerConfigsId}/repos",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ]
                    }
                  }
                }
              }
            },
            "workerPools": {
              "methods": {
                "delete": {
                  "response": {
                    "$ref": "#/schemas/Operation"
                  },
                  "parameters": {
                    "allowMissing": {
                      "type": "boolean",
                      "location": "query",
                      "description": "If set to true, and the `WorkerPool` is not found, the request will succeed but no action will be taken on the server."
                    },
                    "name": {
                      "location": "path",
                      "type": "string",
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+/workerPools/[^/]+$",
                      "description": "Required. The name of the `WorkerPool` to delete. Format: `projects/{project}/locations/{location}/workerPools/{workerPool}`."
                    },
                    "etag": {
                      "description": "Optional. If provided, it must match the server's etag on the workerpool for the request to be processed.",
                      "location": "query",
                      "type": "string"
                    },
                    "validateOnly": {
                      "description": "If set, validate the request and preview the response, but do not actually post it.",
                      "type": "boolean",
                      "location": "query"
                    }
                  },
                  "description": "Deletes a `WorkerPool`.",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/workerPools/{workerPoolsId}",
                  "id": "cloudbuild.projects.locations.workerPools.delete",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "httpMethod": "DELETE",
                  "parameterOrder": [
                    "name"
                  ],
                  "path": "v1/{+name}"
                },
                "create": {
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "request": {
                    "$ref": "#/schemas/WorkerPool"
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "parameters": {
                    "parent": {
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "required": true,
                      "description": "Required. The parent resource where this worker pool will be created. Format: `projects/{project}/locations/{location}`.",
                      "location": "path"
                    },
                    "validateOnly": {
                      "description": "If set, validate the request and preview the response, but do not actually post it.",
                      "type": "boolean",
                      "location": "query"
                    },
                    "workerPoolId": {
                      "description": "Required. Immutable. The ID to use for the `WorkerPool`, which will become the final component of the resource name. This value should be 1-63 characters, and valid characters are /a-z-/.",
                      "type": "string",
                      "location": "query"
                    }
                  },
                  "id": "cloudbuild.projects.locations.workerPools.create",
                  "httpMethod": "POST",
                  "response": {
                    "$ref": "#/schemas/Operation"
                  },
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/workerPools",
                  "path": "v1/{+parent}/workerPools",
                  "description": "Creates a `WorkerPool`."
                },
                "list": {
                  "parameters": {
                    "parent": {
                      "description": "Required. The parent of the collection of `WorkerPools`. Format: `projects/{project}/locations/{location}`.",
                      "location": "path",
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "type": "string"
                    },
                    "pageSize": {
                      "location": "query",
                      "description": "The maximum number of `WorkerPool`s to return. The service may return fewer than this value. If omitted, the server will use a sensible default.",
                      "type": "integer",
                      "format": "int32"
                    },
                    "pageToken": {
                      "type": "string",
                      "location": "query",
                      "description": "A page token, received from a previous `ListWorkerPools` call. Provide this to retrieve the subsequent page."
                    }
                  },
                  "id": "cloudbuild.projects.locations.workerPools.list",
                  "parameterOrder": [
                    "parent"
                  ],
                  "path": "v1/{+parent}/workerPools",
                  "httpMethod": "GET",
                  "response": {
                    "$ref": "#/schemas/ListWorkerPoolsResponse"
                  },
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/workerPools",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "Lists `WorkerPool`s."
                },
                "get": {
                  "id": "cloudbuild.projects.locations.workerPools.get",
                  "response": {
                    "$ref": "#/schemas/WorkerPool"
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "parameters": {
                    "name": {
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+/workerPools/[^/]+$",
                      "required": true,
                      "description": "Required. The name of the `WorkerPool` to retrieve. Format: `projects/{project}/locations/{location}/workerPools/{workerPool}`.",
                      "location": "path"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "path": "v1/{+name}",
                  "httpMethod": "GET",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/workerPools/{workerPoolsId}",
                  "description": "Returns details of a `WorkerPool`."
                },
                "patch": {
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/workerPools/{workerPoolsId}",
                  "httpMethod": "PATCH",
                  "response": {
                    "$ref": "#/schemas/Operation"
                  },
                  "id": "cloudbuild.projects.locations.workerPools.patch",
                  "parameters": {
                    "name": {
                      "pattern": "^projects/[^/]+/locations/[^/]+/workerPools/[^/]+$",
                      "type": "string",
                      "required": true,
                      "description": "Output only. The resource name of the `WorkerPool`, with format `projects/{project}/locations/{location}/workerPools/{worker_pool}`. The value of `{worker_pool}` is provided by `worker_pool_id` in `CreateWorkerPool` request and the value of `{location}` is determined by the endpoint accessed.",
                      "location": "path"
                    },
                    "validateOnly": {
                      "description": "If set, validate the request and preview the response, but do not actually post it.",
                      "type": "boolean",
                      "location": "query"
                    },
                    "updateMask": {
                      "description": "A mask specifying which fields in `worker_pool` to update.",
                      "type": "string",
                      "location": "query",
                      "format": "google-fieldmask"
                    }
                  },
                  "description": "Updates a `WorkerPool`.",
                  "request": {
                    "$ref": "#/schemas/WorkerPool"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameterOrder": [
                    "name"
                  ],
                  "path": "v1/{+name}"
                }
              }
            },
            "operations": {
              "methods": {
                "get": {
                  "description": "Gets the latest state of a long-running operation. Clients can use this method to poll the operation result at intervals as recommended by the API service.",
                  "path": "v1/{+name}",
                  "parameters": {
                    "name": {
                      "description": "The name of the operation resource.",
                      "location": "path",
                      "required": true,
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+/operations/[^/]+$"
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "httpMethod": "GET",
                  "response": {
                    "$ref": "#/schemas/Operation"
                  },
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/operations/{operationsId}",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "id": "cloudbuild.projects.locations.operations.get"
                },
                "cancel": {
                  "request": {
                    "$ref": "#/schemas/CancelOperationRequest"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameters": {
                    "name": {
                      "description": "The name of the operation resource to be cancelled.",
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+/operations/[^/]+$",
                      "required": true,
                      "location": "path"
                    }
                  },
                  "id": "cloudbuild.projects.locations.operations.cancel",
                  "response": {
                    "$ref": "#/schemas/Empty"
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "description": "Starts asynchronous cancellation on a long-running operation. The server makes a best effort to cancel the operation, but success is not guaranteed. If the server doesn't support this method, it returns `google.rpc.Code.UNIMPLEMENTED`. Clients can use Operations.GetOperation or other methods to check whether the cancellation succeeded or whether the operation completed despite cancellation. On successful cancellation, the operation is not deleted; instead, it becomes an operation with an Operation.error value with a google.rpc.Status.code of 1, corresponding to `Code.CANCELLED`.",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/operations/{operationsId}:cancel",
                  "path": "v1/{+name}:cancel",
                  "httpMethod": "POST"
                }
              }
            },
            "triggers": {
              "methods": {
                "list": {
                  "description": "Lists existing `BuildTrigger`s.",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/triggers",
                  "parameterOrder": [
                    "parent"
                  ],
                  "id": "cloudbuild.projects.locations.triggers.list",
                  "path": "v1/{+parent}/triggers",
                  "parameters": {
                    "parent": {
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "location": "path",
                      "required": true,
                      "description": "The parent of the collection of `Triggers`. Format: `projects/{project}/locations/{location}`",
                      "type": "string"
                    },
                    "pageSize": {
                      "format": "int32",
                      "description": "Number of results to return in the list.",
                      "type": "integer",
                      "location": "query"
                    },
                    "projectId": {
                      "description": "Required. ID of the project for which to list BuildTriggers.",
                      "type": "string",
                      "location": "query"
                    },
                    "pageToken": {
                      "location": "query",
                      "type": "string",
                      "description": "Token to provide to skip to a particular spot in the list."
                    }
                  },
                  "httpMethod": "GET",
                  "response": {
                    "$ref": "#/schemas/ListBuildTriggersResponse"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                },
                "get": {
                  "parameterOrder": [
                    "name"
                  ],
                  "response": {
                    "$ref": "#/schemas/BuildTrigger"
                  },
                  "description": "Returns information about a `BuildTrigger`.",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/triggers/{triggersId}",
                  "path": "v1/{+name}",
                  "parameters": {
                    "triggerId": {
                      "type": "string",
                      "description": "Required. Identifier (`id` or `name`) of the `BuildTrigger` to get.",
                      "location": "query"
                    },
                    "name": {
                      "pattern": "^projects/[^/]+/locations/[^/]+/triggers/[^/]+$",
                      "description": "The name of the `Trigger` to retrieve. Format: `projects/{project}/locations/{location}/triggers/{trigger}`",
                      "required": true,
                      "type": "string",
                      "location": "path"
                    },
                    "projectId": {
                      "description": "Required. ID of the project that owns the trigger.",
                      "location": "query",
                      "type": "string"
                    }
                  },
                  "httpMethod": "GET",
                  "id": "cloudbuild.projects.locations.triggers.get"
                },
                "patch": {
                  "parameters": {
                    "resourceName": {
                      "pattern": "^projects/[^/]+/locations/[^/]+/triggers/[^/]+$",
                      "required": true,
                      "type": "string",
                      "description": "The `Trigger` name with format: `projects/{project}/locations/{location}/triggers/{trigger}`, where {trigger} is a unique identifier generated by the service.",
                      "location": "path"
                    },
                    "projectId": {
                      "description": "Required. ID of the project that owns the trigger.",
                      "type": "string",
                      "location": "query"
                    },
                    "updateMask": {
                      "type": "string",
                      "format": "google-fieldmask",
                      "description": "Update mask for the resource. If this is set, the server will only update the fields specified in the field mask. Otherwise, a full update of the mutable resource fields will be performed.",
                      "location": "query"
                    },
                    "triggerId": {
                      "type": "string",
                      "description": "Required. ID of the `BuildTrigger` to update.",
                      "location": "query"
                    }
                  },
                  "request": {
                    "$ref": "#/schemas/BuildTrigger"
                  },
                  "description": "Updates a `BuildTrigger` by its project ID and trigger ID.",
                  "path": "v1/{+resourceName}",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "id": "cloudbuild.projects.locations.triggers.patch",
                  "response": {
                    "$ref": "#/schemas/BuildTrigger"
                  },
                  "httpMethod": "PATCH",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/triggers/{triggersId}",
                  "parameterOrder": [
                    "resourceName"
                  ]
                },
                "webhook": {
                  "id": "cloudbuild.projects.locations.triggers.webhook",
                  "parameterOrder": [
                    "name"
                  ],
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/triggers/{triggersId}:webhook",
                  "description": "ReceiveTriggerWebhook [Experimental] is called when the API receives a webhook request targeted at a specific trigger.",
                  "httpMethod": "POST",
                  "request": {
                    "$ref": "#/schemas/HttpBody"
                  },
                  "parameters": {
                    "projectId": {
                      "location": "query",
                      "type": "string",
                      "description": "Project in which the specified trigger lives"
                    },
                    "trigger": {
                      "description": "Name of the trigger to run the payload against",
                      "location": "query",
                      "type": "string"
                    },
                    "secret": {
                      "type": "string",
                      "location": "query",
                      "description": "Secret token used for authorization if an OAuth token isn't provided."
                    },
                    "name": {
                      "type": "string",
                      "description": "The name of the `ReceiveTriggerWebhook` to retrieve. Format: `projects/{project}/locations/{location}/triggers/{trigger}`",
                      "required": true,
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+/triggers/[^/]+$"
                    }
                  },
                  "path": "v1/{+name}:webhook",
                  "response": {
                    "$ref": "#/schemas/ReceiveTriggerWebhookResponse"
                  }
                },
                "create": {
                  "response": {
                    "$ref": "#/schemas/BuildTrigger"
                  },
                  "request": {
                    "$ref": "#/schemas/BuildTrigger"
                  },
                  "path": "v1/{+parent}/triggers",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameterOrder": [
                    "parent"
                  ],
                  "id": "cloudbuild.projects.locations.triggers.create",
                  "httpMethod": "POST",
                  "parameters": {
                    "projectId": {
                      "location": "query",
                      "type": "string",
                      "description": "Required. ID of the project for which to configure automatic builds."
                    },
                    "parent": {
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "location": "path",
                      "type": "string",
                      "description": "The parent resource where this trigger will be created. Format: `projects/{project}/locations/{location}`",
                      "required": true
                    }
                  },
                  "description": "Creates a new `BuildTrigger`.",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/triggers"
                },
                "delete": {
                  "response": {
                    "$ref": "#/schemas/Empty"
                  },
                  "path": "v1/{+name}",
                  "httpMethod": "DELETE",
                  "description": "Deletes a `BuildTrigger` by its project ID and trigger ID.",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/triggers/{triggersId}",
                  "parameters": {
                    "projectId": {
                      "type": "string",
                      "location": "query",
                      "description": "Required. ID of the project that owns the trigger."
                    },
                    "triggerId": {
                      "location": "query",
                      "type": "string",
                      "description": "Required. ID of the `BuildTrigger` to delete."
                    },
                    "name": {
                      "location": "path",
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+/triggers/[^/]+$",
                      "description": "The name of the `Trigger` to delete. Format: `projects/{project}/locations/{location}/triggers/{trigger}`",
                      "required": true
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "id": "cloudbuild.projects.locations.triggers.delete",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                },
                "run": {
                  "id": "cloudbuild.projects.locations.triggers.run",
                  "httpMethod": "POST",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/triggers/{triggersId}:run",
                  "parameterOrder": [
                    "name"
                  ],
                  "parameters": {
                    "name": {
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+/triggers/[^/]+$",
                      "type": "string",
                      "required": true,
                      "description": "The name of the `Trigger` to run. Format: `projects/{project}/locations/{location}/triggers/{trigger}`"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "Runs a `BuildTrigger` at a particular source revision. To run a regional or global trigger, use the POST request that includes the location endpoint in the path (ex. v1/projects/{projectId}/locations/{region}/triggers/{triggerId}:run). The POST request that does not include the location endpoint in the path can only be used when running global triggers.",
                  "response": {
                    "$ref": "#/schemas/Operation"
                  },
                  "request": {
                    "$ref": "#/schemas/RunBuildTriggerRequest"
                  },
                  "path": "v1/{+name}:run"
                }
              }
            },
            "builds": {
              "methods": {
                "list": {
                  "parameters": {
                    "projectId": {
                      "type": "string",
                      "description": "Required. ID of the project.",
                      "location": "query"
                    },
                    "pageToken": {
                      "location": "query",
                      "description": "The page token for the next page of Builds. If unspecified, the first page of results is returned. If the token is rejected for any reason, INVALID_ARGUMENT will be thrown. In this case, the token should be discarded, and pagination should be restarted from the first page of results. See https://google.aip.dev/158 for more.",
                      "type": "string"
                    },
                    "filter": {
                      "type": "string",
                      "description": "The raw filter text to constrain the results.",
                      "location": "query"
                    },
                    "parent": {
                      "location": "path",
                      "description": "The parent of the collection of `Builds`. Format: `projects/{project}/locations/{location}`",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "type": "string",
                      "required": true
                    },
                    "pageSize": {
                      "description": "Number of results to return in the list.",
                      "type": "integer",
                      "format": "int32",
                      "location": "query"
                    }
                  },
                  "httpMethod": "GET",
                  "path": "v1/{+parent}/builds",
                  "description": "Lists previously requested builds. Previously requested builds may still be in-progress, or may have finished successfully or unsuccessfully.",
                  "id": "cloudbuild.projects.locations.builds.list",
                  "response": {
                    "$ref": "#/schemas/ListBuildsResponse"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameterOrder": [
                    "parent"
                  ],
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/builds"
                },
                "create": {
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/builds",
                  "request": {
                    "$ref": "#/schemas/Build"
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "parameters": {
                    "projectId": {
                      "description": "Required. ID of the project.",
                      "type": "string",
                      "location": "query"
                    },
                    "parent": {
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "required": true,
                      "description": "The parent resource where this build will be created. Format: `projects/{project}/locations/{location}`",
                      "type": "string"
                    }
                  },
                  "response": {
                    "$ref": "#/schemas/Operation"
                  },
                  "httpMethod": "POST",
                  "path": "v1/{+parent}/builds",
                  "description": "Starts a build with the specified configuration. This method returns a long-running `Operation`, which includes the build ID. Pass the build ID to `GetBuild` to determine the build status (such as `SUCCESS` or `FAILURE`).",
                  "id": "cloudbuild.projects.locations.builds.create"
                },
                "cancel": {
                  "parameters": {
                    "name": {
                      "location": "path",
                      "type": "string",
                      "required": true,
                      "description": "The name of the `Build` to cancel. Format: `projects/{project}/locations/{location}/builds/{build}`",
                      "pattern": "^projects/[^/]+/locations/[^/]+/builds/[^/]+$"
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "id": "cloudbuild.projects.locations.builds.cancel",
                  "httpMethod": "POST",
                  "response": {
                    "$ref": "#/schemas/Build"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "Cancels a build in progress.",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/builds/{buildsId}:cancel",
                  "request": {
                    "$ref": "#/schemas/CancelBuildRequest"
                  },
                  "path": "v1/{+name}:cancel"
                },
                "approve": {
                  "description": "Approves or rejects a pending build. If approved, the returned LRO will be analogous to the LRO returned from a CreateBuild call. If rejected, the returned LRO will be immediately done.",
                  "request": {
                    "$ref": "#/schemas/ApproveBuildRequest"
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "httpMethod": "POST",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/builds/{buildsId}:approve",
                  "response": {
                    "$ref": "#/schemas/Operation"
                  },
                  "id": "cloudbuild.projects.locations.builds.approve",
                  "parameters": {
                    "name": {
                      "pattern": "^projects/[^/]+/locations/[^/]+/builds/[^/]+$",
                      "location": "path",
                      "required": true,
                      "description": "Required. Name of the target build. For example: \"projects/{$project_id}/builds/{$build_id}\"",
                      "type": "string"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "path": "v1/{+name}:approve"
                },
                "get": {
                  "path": "v1/{+name}",
                  "description": "Returns information about a previously requested build. The `Build` that is returned includes its status (such as `SUCCESS`, `FAILURE`, or `WORKING`), and timing information.",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/builds/{buildsId}",
                  "id": "cloudbuild.projects.locations.builds.get",
                  "httpMethod": "GET",
                  "response": {
                    "$ref": "#/schemas/Build"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameters": {
                    "projectId": {
                      "description": "Required. ID of the project.",
                      "type": "string",
                      "location": "query"
                    },
                    "name": {
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+/builds/[^/]+$",
                      "description": "The name of the `Build` to retrieve. Format: `projects/{project}/locations/{location}/builds/{build}`",
                      "type": "string",
                      "required": true
                    },
                    "id": {
                      "type": "string",
                      "location": "query",
                      "description": "Required. ID of the build."
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ]
                },
                "retry": {
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/builds/{buildsId}:retry",
                  "id": "cloudbuild.projects.locations.builds.retry",
                  "response": {
                    "$ref": "#/schemas/Operation"
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameters": {
                    "name": {
                      "description": "The name of the `Build` to retry. Format: `projects/{project}/locations/{location}/builds/{build}`",
                      "type": "string",
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+/builds/[^/]+$",
                      "required": true
                    }
                  },
                  "description": "Creates a new build based on the specified build. This method creates a new build using the original build request, which may or may not result in an identical build. For triggered builds: * Triggered builds resolve to a precise revision; therefore a retry of a triggered build will result in a build that uses the same revision. For non-triggered builds that specify `RepoSource`: * If the original build built from the tip of a branch, the retried build will build from the tip of that branch, which may not be the same revision as the original build. * If the original build specified a commit sha or revision ID, the retried build will use the identical source. For builds that specify `StorageSource`: * If the original build pulled source from Cloud Storage without specifying the generation of the object, the new build will use the current object, which may be different from the original build source. * If the original build pulled source from Cloud Storage and specified the generation of the object, the new build will attempt to use the same object, which may or may not be available depending on the bucket's lifecycle management settings.",
                  "request": {
                    "$ref": "#/schemas/RetryBuildRequest"
                  },
                  "path": "v1/{+name}:retry",
                  "httpMethod": "POST"
                }
              }
            },
            "githubEnterpriseConfigs": {
              "methods": {
                "get": {
                  "parameters": {
                    "configId": {
                      "description": "Unique identifier of the `GitHubEnterpriseConfig`",
                      "location": "query",
                      "deprecated": true,
                      "type": "string"
                    },
                    "projectId": {
                      "type": "string",
                      "description": "ID of the project",
                      "location": "query",
                      "deprecated": true
                    },
                    "name": {
                      "description": "This field should contain the name of the enterprise config resource. For example: \"projects/{$project_id}/locations/{$location_id}/githubEnterpriseConfigs/{$config_id}\"",
                      "type": "string",
                      "location": "path",
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+/githubEnterpriseConfigs/[^/]+$"
                    }
                  },
                  "httpMethod": "GET",
                  "path": "v1/{+name}",
                  "id": "cloudbuild.projects.locations.githubEnterpriseConfigs.get",
                  "response": {
                    "$ref": "#/schemas/GitHubEnterpriseConfig"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameterOrder": [
                    "name"
                  ],
                  "description": "Retrieve a GitHubEnterpriseConfig.",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/githubEnterpriseConfigs/{githubEnterpriseConfigsId}"
                },
                "delete": {
                  "parameterOrder": [
                    "name"
                  ],
                  "response": {
                    "$ref": "#/schemas/Operation"
                  },
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/githubEnterpriseConfigs/{githubEnterpriseConfigsId}",
                  "description": "Delete an association between a GCP project and a GitHub Enterprise server.",
                  "id": "cloudbuild.projects.locations.githubEnterpriseConfigs.delete",
                  "path": "v1/{+name}",
                  "parameters": {
                    "name": {
                      "pattern": "^projects/[^/]+/locations/[^/]+/githubEnterpriseConfigs/[^/]+$",
                      "required": true,
                      "type": "string",
                      "location": "path",
                      "description": "This field should contain the name of the enterprise config resource. For example: \"projects/{$project_id}/locations/{$location_id}/githubEnterpriseConfigs/{$config_id}\""
                    },
                    "configId": {
                      "location": "query",
                      "deprecated": true,
                      "description": "Unique identifier of the `GitHubEnterpriseConfig`",
                      "type": "string"
                    },
                    "projectId": {
                      "location": "query",
                      "deprecated": true,
                      "description": "ID of the project",
                      "type": "string"
                    }
                  },
                  "httpMethod": "DELETE",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                },
                "patch": {
                  "path": "v1/{+name}",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/githubEnterpriseConfigs/{githubEnterpriseConfigsId}",
                  "request": {
                    "$ref": "#/schemas/GitHubEnterpriseConfig"
                  },
                  "parameters": {
                    "updateMask": {
                      "location": "query",
                      "format": "google-fieldmask",
                      "description": "Update mask for the resource. If this is set, the server will only update the fields specified in the field mask. Otherwise, a full update of the mutable resource fields will be performed.",
                      "type": "string"
                    },
                    "name": {
                      "pattern": "^projects/[^/]+/locations/[^/]+/githubEnterpriseConfigs/[^/]+$",
                      "location": "path",
                      "type": "string",
                      "description": "Optional. The full resource name for the GitHubEnterpriseConfig For example: \"projects/{$project_id}/locations/{$location_id}/githubEnterpriseConfigs/{$config_id}\"",
                      "required": true
                    }
                  },
                  "httpMethod": "PATCH",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "id": "cloudbuild.projects.locations.githubEnterpriseConfigs.patch",
                  "parameterOrder": [
                    "name"
                  ],
                  "response": {
                    "$ref": "#/schemas/Operation"
                  },
                  "description": "Update an association between a GCP project and a GitHub Enterprise server."
                },
                "list": {
                  "httpMethod": "GET",
                  "path": "v1/{+parent}/githubEnterpriseConfigs",
                  "parameters": {
                    "parent": {
                      "type": "string",
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "location": "path",
                      "description": "Name of the parent project. For example: projects/{$project_number} or projects/{$project_id}"
                    },
                    "projectId": {
                      "type": "string",
                      "deprecated": true,
                      "description": "ID of the project",
                      "location": "query"
                    }
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "response": {
                    "$ref": "#/schemas/ListGithubEnterpriseConfigsResponse"
                  },
                  "id": "cloudbuild.projects.locations.githubEnterpriseConfigs.list",
                  "description": "List all GitHubEnterpriseConfigs for a given project.",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/githubEnterpriseConfigs"
                },
                "create": {
                  "id": "cloudbuild.projects.locations.githubEnterpriseConfigs.create",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "Create an association between a GCP project and a GitHub Enterprise server.",
                  "parameters": {
                    "parent": {
                      "required": true,
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "description": "Name of the parent project. For example: projects/{$project_number} or projects/{$project_id}",
                      "type": "string"
                    },
                    "projectId": {
                      "deprecated": true,
                      "type": "string",
                      "location": "query",
                      "description": "ID of the project."
                    },
                    "gheConfigId": {
                      "location": "query",
                      "type": "string",
                      "description": "Optional. The ID to use for the GithubEnterpriseConfig, which will become the final component of the GithubEnterpriseConfig's resource name. ghe_config_id must meet the following requirements: + They must contain only alphanumeric characters and dashes. + They can be 1-64 characters long. + They must begin and end with an alphanumeric character"
                    }
                  },
                  "httpMethod": "POST",
                  "response": {
                    "$ref": "#/schemas/Operation"
                  },
                  "path": "v1/{+parent}/githubEnterpriseConfigs",
                  "request": {
                    "$ref": "#/schemas/GitHubEnterpriseConfig"
                  },
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/githubEnterpriseConfigs",
                  "parameterOrder": [
                    "parent"
                  ]
                }
              }
            }
          }
        },
        "triggers": {
          "methods": {
            "get": {
              "description": "Returns information about a `BuildTrigger`.",
              "parameters": {
                "triggerId": {
                  "location": "path",
                  "required": true,
                  "type": "string",
                  "description": "Required. Identifier (`id` or `name`) of the `BuildTrigger` to get."
                },
                "name": {
                  "description": "The name of the `Trigger` to retrieve. Format: `projects/{project}/locations/{location}/triggers/{trigger}`",
                  "location": "query",
                  "type": "string"
                },
                "projectId": {
                  "required": true,
                  "location": "path",
                  "description": "Required. ID of the project that owns the trigger.",
                  "type": "string"
                }
              },
              "httpMethod": "GET",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "id": "cloudbuild.projects.triggers.get",
              "response": {
                "$ref": "#/schemas/BuildTrigger"
              },
              "parameterOrder": [
                "projectId",
                "triggerId"
              ],
              "path": "v1/projects/{projectId}/triggers/{triggerId}",
              "flatPath": "v1/projects/{projectId}/triggers/{triggerId}"
            },
            "run": {
              "response": {
                "$ref": "#/schemas/Operation"
              },
              "path": "v1/projects/{projectId}/triggers/{triggerId}:run",
              "parameterOrder": [
                "projectId",
                "triggerId"
              ],
              "id": "cloudbuild.projects.triggers.run",
              "parameters": {
                "projectId": {
                  "location": "path",
                  "type": "string",
                  "required": true,
                  "description": "Required. ID of the project."
                },
                "name": {
                  "description": "The name of the `Trigger` to run. Format: `projects/{project}/locations/{location}/triggers/{trigger}`",
                  "location": "query",
                  "type": "string"
                },
                "triggerId": {
                  "location": "path",
                  "type": "string",
                  "required": true,
                  "description": "Required. ID of the trigger."
                }
              },
              "request": {
                "$ref": "#/schemas/RepoSource"
              },
              "httpMethod": "POST",
              "description": "Runs a `BuildTrigger` at a particular source revision. To run a regional or global trigger, use the POST request that includes the location endpoint in the path (ex. v1/projects/{projectId}/locations/{region}/triggers/{triggerId}:run). The POST request that does not include the location endpoint in the path can only be used when running global triggers.",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "flatPath": "v1/projects/{projectId}/triggers/{triggerId}:run"
            },
            "delete": {
              "path": "v1/projects/{projectId}/triggers/{triggerId}",
              "description": "Deletes a `BuildTrigger` by its project ID and trigger ID.",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "httpMethod": "DELETE",
              "response": {
                "$ref": "#/schemas/Empty"
              },
              "parameterOrder": [
                "projectId",
                "triggerId"
              ],
              "parameters": {
                "triggerId": {
                  "required": true,
                  "type": "string",
                  "location": "path",
                  "description": "Required. ID of the `BuildTrigger` to delete."
                },
                "name": {
                  "type": "string",
                  "location": "query",
                  "description": "The name of the `Trigger` to delete. Format: `projects/{project}/locations/{location}/triggers/{trigger}`"
                },
                "projectId": {
                  "required": true,
                  "description": "Required. ID of the project that owns the trigger.",
                  "location": "path",
                  "type": "string"
                }
              },
              "id": "cloudbuild.projects.triggers.delete",
              "flatPath": "v1/projects/{projectId}/triggers/{triggerId}"
            },
            "list": {
              "description": "Lists existing `BuildTrigger`s.",
              "path": "v1/projects/{projectId}/triggers",
              "parameterOrder": [
                "projectId"
              ],
              "response": {
                "$ref": "#/schemas/ListBuildTriggersResponse"
              },
              "flatPath": "v1/projects/{projectId}/triggers",
              "id": "cloudbuild.projects.triggers.list",
              "httpMethod": "GET",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "parameters": {
                "pageToken": {
                  "type": "string",
                  "location": "query",
                  "description": "Token to provide to skip to a particular spot in the list."
                },
                "pageSize": {
                  "location": "query",
                  "format": "int32",
                  "type": "integer",
                  "description": "Number of results to return in the list."
                },
                "parent": {
                  "description": "The parent of the collection of `Triggers`. Format: `projects/{project}/locations/{location}`",
                  "location": "query",
                  "type": "string"
                },
                "projectId": {
                  "location": "path",
                  "type": "string",
                  "description": "Required. ID of the project for which to list BuildTriggers.",
                  "required": true
                }
              }
            },
            "patch": {
              "parameterOrder": [
                "projectId",
                "triggerId"
              ],
              "request": {
                "$ref": "#/schemas/BuildTrigger"
              },
              "parameters": {
                "triggerId": {
                  "location": "path",
                  "required": true,
                  "description": "Required. ID of the `BuildTrigger` to update.",
                  "type": "string"
                },
                "updateMask": {
                  "format": "google-fieldmask",
                  "location": "query",
                  "description": "Update mask for the resource. If this is set, the server will only update the fields specified in the field mask. Otherwise, a full update of the mutable resource fields will be performed.",
                  "type": "string"
                },
                "projectId": {
                  "description": "Required. ID of the project that owns the trigger.",
                  "type": "string",
                  "required": true,
                  "location": "path"
                }
              },
              "flatPath": "v1/projects/{projectId}/triggers/{triggerId}",
              "response": {
                "$ref": "#/schemas/BuildTrigger"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "httpMethod": "PATCH",
              "description": "Updates a `BuildTrigger` by its project ID and trigger ID.",
              "id": "cloudbuild.projects.triggers.patch",
              "path": "v1/projects/{projectId}/triggers/{triggerId}"
            },
            "create": {
              "parameterOrder": [
                "projectId"
              ],
              "description": "Creates a new `BuildTrigger`.",
              "request": {
                "$ref": "#/schemas/BuildTrigger"
              },
              "id": "cloudbuild.projects.triggers.create",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "parameters": {
                "parent": {
                  "location": "query",
                  "description": "The parent resource where this trigger will be created. Format: `projects/{project}/locations/{location}`",
                  "type": "string"
                },
                "projectId": {
                  "location": "path",
                  "type": "string",
                  "required": true,
                  "description": "Required. ID of the project for which to configure automatic builds."
                }
              },
              "flatPath": "v1/projects/{projectId}/triggers",
              "response": {
                "$ref": "#/schemas/BuildTrigger"
              },
              "httpMethod": "POST",
              "path": "v1/projects/{projectId}/triggers"
            },
            "webhook": {
              "parameterOrder": [
                "projectId",
                "trigger"
              ],
              "flatPath": "v1/projects/{projectId}/triggers/{trigger}:webhook",
              "path": "v1/projects/{projectId}/triggers/{trigger}:webhook",
              "parameters": {
                "trigger": {
                  "description": "Name of the trigger to run the payload against",
                  "type": "string",
                  "required": true,
                  "location": "path"
                },
                "projectId": {
                  "description": "Project in which the specified trigger lives",
                  "required": true,
                  "type": "string",
                  "location": "path"
                },
                "secret": {
                  "location": "query",
                  "description": "Secret token used for authorization if an OAuth token isn't provided.",
                  "type": "string"
                },
                "name": {
                  "type": "string",
                  "location": "query",
                  "description": "The name of the `ReceiveTriggerWebhook` to retrieve. Format: `projects/{project}/locations/{location}/triggers/{trigger}`"
                }
              },
              "description": "ReceiveTriggerWebhook [Experimental] is called when the API receives a webhook request targeted at a specific trigger.",
              "httpMethod": "POST",
              "id": "cloudbuild.projects.triggers.webhook",
              "response": {
                "$ref": "#/schemas/ReceiveTriggerWebhookResponse"
              },
              "request": {
                "$ref": "#/schemas/HttpBody"
              }
            }
          }
        },
        "builds": {
          "methods": {
            "approve": {
              "response": {
                "$ref": "#/schemas/Operation"
              },
              "parameterOrder": [
                "name"
              ],
              "path": "v1/{+name}:approve",
              "request": {
                "$ref": "#/schemas/ApproveBuildRequest"
              },
              "id": "cloudbuild.projects.builds.approve",
              "description": "Approves or rejects a pending build. If approved, the returned LRO will be analogous to the LRO returned from a CreateBuild call. If rejected, the returned LRO will be immediately done.",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "parameters": {
                "name": {
                  "required": true,
                  "type": "string",
                  "location": "path",
                  "description": "Required. Name of the target build. For example: \"projects/{$project_id}/builds/{$build_id}\"",
                  "pattern": "^projects/[^/]+/builds/[^/]+$"
                }
              },
              "flatPath": "v1/projects/{projectsId}/builds/{buildsId}:approve",
              "httpMethod": "POST"
            },
            "create": {
              "parameterOrder": [
                "projectId"
              ],
              "path": "v1/projects/{projectId}/builds",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "response": {
                "$ref": "#/schemas/Operation"
              },
              "description": "Starts a build with the specified configuration. This method returns a long-running `Operation`, which includes the build ID. Pass the build ID to `GetBuild` to determine the build status (such as `SUCCESS` or `FAILURE`).",
              "id": "cloudbuild.projects.builds.create",
              "parameters": {
                "projectId": {
                  "description": "Required. ID of the project.",
                  "required": true,
                  "type": "string",
                  "location": "path"
                },
                "parent": {
                  "description": "The parent resource where this build will be created. Format: `projects/{project}/locations/{location}`",
                  "location": "query",
                  "type": "string"
                }
              },
              "httpMethod": "POST",
              "flatPath": "v1/projects/{projectId}/builds",
              "request": {
                "$ref": "#/schemas/Build"
              }
            },
            "retry": {
              "httpMethod": "POST",
              "parameterOrder": [
                "projectId",
                "id"
              ],
              "parameters": {
                "id": {
                  "location": "path",
                  "description": "Required. Build ID of the original build.",
                  "required": true,
                  "type": "string"
                },
                "projectId": {
                  "description": "Required. ID of the project.",
                  "location": "path",
                  "type": "string",
                  "required": true
                }
              },
              "request": {
                "$ref": "#/schemas/RetryBuildRequest"
              },
              "flatPath": "v1/projects/{projectId}/builds/{id}:retry",
              "path": "v1/projects/{projectId}/builds/{id}:retry",
              "description": "Creates a new build based on the specified build. This method creates a new build using the original build request, which may or may not result in an identical build. For triggered builds: * Triggered builds resolve to a precise revision; therefore a retry of a triggered build will result in a build that uses the same revision. For non-triggered builds that specify `RepoSource`: * If the original build built from the tip of a branch, the retried build will build from the tip of that branch, which may not be the same revision as the original build. * If the original build specified a commit sha or revision ID, the retried build will use the identical source. For builds that specify `StorageSource`: * If the original build pulled source from Cloud Storage without specifying the generation of the object, the new build will use the current object, which may be different from the original build source. * If the original build pulled source from Cloud Storage and specified the generation of the object, the new build will attempt to use the same object, which may or may not be available depending on the bucket's lifecycle management settings.",
              "id": "cloudbuild.projects.builds.retry",
              "response": {
                "$ref": "#/schemas/Operation"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ]
            },
            "get": {
              "parameters": {
                "projectId": {
                  "location": "path",
                  "required": true,
                  "type": "string",
                  "description": "Required. ID of the project."
                },
                "id": {
                  "location": "path",
                  "required": true,
                  "type": "string",
                  "description": "Required. ID of the build."
                },
                "name": {
                  "type": "string",
                  "location": "query",
                  "description": "The name of the `Build` to retrieve. Format: `projects/{project}/locations/{location}/builds/{build}`"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "flatPath": "v1/projects/{projectId}/builds/{id}",
              "response": {
                "$ref": "#/schemas/Build"
              },
              "path": "v1/projects/{projectId}/builds/{id}",
              "description": "Returns information about a previously requested build. The `Build` that is returned includes its status (such as `SUCCESS`, `FAILURE`, or `WORKING`), and timing information.",
              "id": "cloudbuild.projects.builds.get",
              "httpMethod": "GET",
              "parameterOrder": [
                "projectId",
                "id"
              ]
            },
            "list": {
              "parameters": {
                "pageSize": {
                  "location": "query",
                  "format": "int32",
                  "description": "Number of results to return in the list.",
                  "type": "integer"
                },
                "filter": {
                  "description": "The raw filter text to constrain the results.",
                  "type": "string",
                  "location": "query"
                },
                "parent": {
                  "type": "string",
                  "location": "query",
                  "description": "The parent of the collection of `Builds`. Format: `projects/{project}/locations/{location}`"
                },
                "pageToken": {
                  "description": "The page token for the next page of Builds. If unspecified, the first page of results is returned. If the token is rejected for any reason, INVALID_ARGUMENT will be thrown. In this case, the token should be discarded, and pagination should be restarted from the first page of results. See https://google.aip.dev/158 for more.",
                  "location": "query",
                  "type": "string"
                },
                "projectId": {
                  "required": true,
                  "location": "path",
                  "description": "Required. ID of the project.",
                  "type": "string"
                }
              },
              "httpMethod": "GET",
              "parameterOrder": [
                "projectId"
              ],
              "description": "Lists previously requested builds. Previously requested builds may still be in-progress, or may have finished successfully or unsuccessfully.",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "flatPath": "v1/projects/{projectId}/builds",
              "id": "cloudbuild.projects.builds.list",
              "response": {
                "$ref": "#/schemas/ListBuildsResponse"
              },
              "path": "v1/projects/{projectId}/builds"
            },
            "cancel": {
              "path": "v1/projects/{projectId}/builds/{id}:cancel",
              "parameters": {
                "id": {
                  "description": "Required. ID of the build.",
                  "type": "string",
                  "required": true,
                  "location": "path"
                },
                "projectId": {
                  "type": "string",
                  "description": "Required. ID of the project.",
                  "location": "path",
                  "required": true
                }
              },
              "httpMethod": "POST",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "description": "Cancels a build in progress.",
              "response": {
                "$ref": "#/schemas/Build"
              },
              "id": "cloudbuild.projects.builds.cancel",
              "flatPath": "v1/projects/{projectId}/builds/{id}:cancel",
              "request": {
                "$ref": "#/schemas/CancelBuildRequest"
              },
              "parameterOrder": [
                "projectId",
                "id"
              ]
            }
          }
        },
        "githubEnterpriseConfigs": {
          "methods": {
            "get": {
              "flatPath": "v1/projects/{projectsId}/githubEnterpriseConfigs/{githubEnterpriseConfigsId}",
              "httpMethod": "GET",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "description": "Retrieve a GitHubEnterpriseConfig.",
[...]
