{
  "documentationLink": "https://cloud.google.com/cloud-build/docs/",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        }
      }
    }
  },
  "parameters": {
    "upload_protocol": {
      "type": "string",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "location": "query"
    },
    "oauth_token": {
      "location": "query",
      "type": "string",
      "description": "OAuth 2.0 token for the current user."
    },
    "$.xgafv": {
      "location": "query",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "description": "V1 error format.",
      "type": "string",
      "enum": [
        "1",
        "2"
      ]
    },
    "quotaUser": {
      "type": "string",
      "location": "query",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters."
    },
    "prettyPrint": {
      "location": "query",
      "description": "Returns response with indentations and line breaks.",
      "default": "true",
      "type": "boolean"
    },
    "alt": {
      "location": "query",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "default": "json",
      "type": "string",
      "description": "Data format for response.",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ]
    },
    "uploadType": {
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "type": "string",
      "location": "query"
    },
    "fields": {
      "description": "Selector specifying which fields to include in a partial response.",
      "type": "string",
      "location": "query"
    },
    "key": {
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "type": "string",
      "location": "query"
    },
    "callback": {
      "location": "query",
      "type": "string",
      "description": "JSONP"
    },
    "access_token": {
      "type": "string",
      "description": "OAuth access token.",
      "location": "query"
    }
  },
  "baseUrl": "https://cloudbuild.googleapis.com/",
  "name": "cloudbuild",
  "rootUrl": "https://cloudbuild.googleapis.com/",
  "kind": "discovery#restDescription",
  "basePath": "",
  "title": "Cloud Build API",
  "version": "v1",
  "servicePath": "",
  "canonicalName": "Cloud Build",
  "ownerName": "Google",
  "discoveryVersion": "v1",
  "version_module": true,
  "fullyEncodeReservedExpansion": true,
  "resources": {
    "projects": {
      "resources": {
        "builds": {
          "methods": {
            "list": {
              "description": "Lists previously requested builds. Previously requested builds may still be in-progress, or may have finished successfully or unsuccessfully.",
              "parameters": {
                "pageToken": {
                  "location": "query",
                  "type": "string",
                  "description": "The page token for the next page of Builds. If unspecified, the first page of results is returned. If the token is rejected for any reason, INVALID_ARGUMENT will be thrown. In this case, the token should be discarded, and pagination should be restarted from the first page of results. See https://google.aip.dev/158 for more."
                },
                "projectId": {
                  "type": "string",
                  "location": "path",
                  "description": "Required. ID of the project.",
                  "required": true
                },
                "filter": {
                  "type": "string",
                  "location": "query",
                  "description": "The raw filter text to constrain the results."
                },
                "pageSize": {
                  "location": "query",
                  "format": "int32",
                  "description": "Number of results to return in the list.",
                  "type": "integer"
                },
                "parent": {
                  "location": "query",
                  "type": "string",
                  "description": "The parent of the collection of `Builds`. Format: `projects/{project}/locations/{location}`"
                }
              },
              "path": "v1/projects/{projectId}/builds",
              "id": "cloudbuild.projects.builds.list",
              "parameterOrder": [
                "projectId"
              ],
              "flatPath": "v1/projects/{projectId}/builds",
              "httpMethod": "GET",
              "response": {
                "$ref": "#/schemas/ListBuildsResponse"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ]
            },
            "get": {
              "response": {
                "$ref": "#/schemas/Build"
              },
              "flatPath": "v1/projects/{projectId}/builds/{id}",
              "path": "v1/projects/{projectId}/builds/{id}",
              "description": "Returns information about a previously requested build. The `Build` that is returned includes its status (such as `SUCCESS`, `FAILURE`, or `WORKING`), and timing information.",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "parameters": {
                "projectId": {
                  "required": true,
                  "location": "path",
                  "description": "Required. ID of the project.",
                  "type": "string"
                },
                "id": {
                  "location": "path",
                  "required": true,
                  "type": "string",
                  "description": "Required. ID of the build."
                },
                "name": {
                  "description": "The name of the `Build` to retrieve. Format: `projects/{project}/locations/{location}/builds/{build}`",
                  "type": "string",
                  "location": "query"
                }
              },
              "parameterOrder": [
                "projectId",
                "id"
              ],
              "httpMethod": "GET",
              "id": "cloudbuild.projects.builds.get"
            },
            "approve": {
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "request": {
                "$ref": "#/schemas/ApproveBuildRequest"
              },
              "response": {
                "$ref": "#/schemas/Operation"
              },
              "parameters": {
                "name": {
                  "pattern": "^projects/[^/]+/builds/[^/]+$",
                  "description": "Required. Name of the target build. For example: \"projects/{$project_id}/builds/{$build_id}\"",
                  "required": true,
                  "location": "path",
                  "type": "string"
                }
              },
              "httpMethod": "POST",
              "path": "v1/{+name}:approve",
              "id": "cloudbuild.projects.builds.approve",
              "parameterOrder": [
                "name"
              ],
              "flatPath": "v1/projects/{projectsId}/builds/{buildsId}:approve",
              "description": "Approves or rejects a pending build. If approved, the returned LRO will be analogous to the LRO returned from a CreateBuild call. If rejected, the returned LRO will be immediately done."
            },
            "cancel": {
              "response": {
                "$ref": "#/schemas/Build"
              },
              "id": "cloudbuild.projects.builds.cancel",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "flatPath": "v1/projects/{projectId}/builds/{id}:cancel",
              "httpMethod": "POST",
              "request": {
                "$ref": "#/schemas/CancelBuildRequest"
              },
              "path": "v1/projects/{projectId}/builds/{id}:cancel",
              "description": "Cancels a build in progress.",
              "parameterOrder": [
                "projectId",
                "id"
              ],
              "parameters": {
                "id": {
                  "description": "Required. ID of the build.",
                  "location": "path",
                  "required": true,
                  "type": "string"
                },
                "projectId": {
                  "description": "Required. ID of the project.",
                  "type": "string",
                  "location": "path",
                  "required": true
                }
              }
            },
            "create": {
              "response": {
                "$ref": "#/schemas/Operation"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "id": "cloudbuild.projects.builds.create",
              "flatPath": "v1/projects/{projectId}/builds",
              "parameters": {
                "parent": {
                  "description": "The parent resource where this build will be created. Format: `projects/{project}/locations/{location}`",
                  "location": "query",
                  "type": "string"
                },
                "projectId": {
                  "required": true,
                  "location": "path",
                  "description": "Required. ID of the project.",
                  "type": "string"
                }
              },
              "path": "v1/projects/{projectId}/builds",
              "description": "Starts a build with the specified configuration. This method returns a long-running `Operation`, which includes the build ID. Pass the build ID to `GetBuild` to determine the build status (such as `SUCCESS` or `FAILURE`).",
              "parameterOrder": [
                "projectId"
              ],
              "request": {
                "$ref": "#/schemas/Build"
              },
              "httpMethod": "POST"
            },
            "retry": {
              "parameters": {
                "projectId": {
                  "description": "Required. ID of the project.",
                  "type": "string",
                  "required": true,
                  "location": "path"
                },
                "id": {
                  "type": "string",
                  "description": "Required. Build ID of the original build.",
                  "required": true,
                  "location": "path"
                }
              },
              "response": {
                "$ref": "#/schemas/Operation"
              },
              "flatPath": "v1/projects/{projectId}/builds/{id}:retry",
              "path": "v1/projects/{projectId}/builds/{id}:retry",
              "description": "Creates a new build based on the specified build. This method creates a new build using the original build request, which may or may not result in an identical build. For triggered builds: * Triggered builds resolve to a precise revision; therefore a retry of a triggered build will result in a build that uses the same revision. For non-triggered builds that specify `RepoSource`: * If the original build built from the tip of a branch, the retried build will build from the tip of that branch, which may not be the same revision as the original build. * If the original build specified a commit sha or revision ID, the retried build will use the identical source. For builds that specify `StorageSource`: * If the original build pulled source from Cloud Storage without specifying the generation of the object, the new build will use the current object, which may be different from the original build source. * If the original build pulled source from Cloud Storage and specified the generation of the object, the new build will attempt to use the same object, which may or may not be available depending on the bucket's lifecycle management settings.",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "request": {
                "$ref": "#/schemas/RetryBuildRequest"
              },
              "id": "cloudbuild.projects.builds.retry",
              "parameterOrder": [
                "projectId",
                "id"
              ],
              "httpMethod": "POST"
            }
          }
        },
        "githubEnterpriseConfigs": {
          "methods": {
            "patch": {
              "path": "v1/{+name}",
              "id": "cloudbuild.projects.githubEnterpriseConfigs.patch",
              "description": "Update an association between a GCP project and a GitHub Enterprise server.",
              "parameters": {
                "name": {
                  "pattern": "^projects/[^/]+/githubEnterpriseConfigs/[^/]+$",
                  "type": "string",
                  "description": "Optional. The full resource name for the GitHubEnterpriseConfig For example: \"projects/{$project_id}/locations/{$location_id}/githubEnterpriseConfigs/{$config_id}\"",
                  "required": true,
                  "location": "path"
                },
                "updateMask": {
                  "format": "google-fieldmask",
                  "description": "Update mask for the resource. If this is set, the server will only update the fields specified in the field mask. Otherwise, a full update of the mutable resource fields will be performed.",
                  "type": "string",
                  "location": "query"
                }
              },
              "response": {
                "$ref": "#/schemas/Operation"
              },
              "httpMethod": "PATCH",
              "flatPath": "v1/projects/{projectsId}/githubEnterpriseConfigs/{githubEnterpriseConfigsId}",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "parameterOrder": [
                "name"
              ],
              "request": {
                "$ref": "#/schemas/GitHubEnterpriseConfig"
              }
            },
            "list": {
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "path": "v1/{+parent}/githubEnterpriseConfigs",
              "parameterOrder": [
                "parent"
              ],
              "id": "cloudbuild.projects.githubEnterpriseConfigs.list",
              "flatPath": "v1/projects/{projectsId}/githubEnterpriseConfigs",
              "response": {
                "$ref": "#/schemas/ListGithubEnterpriseConfigsResponse"
              },
              "description": "List all GitHubEnterpriseConfigs for a given project.",
              "parameters": {
                "parent": {
                  "pattern": "^projects/[^/]+$",
                  "description": "Name of the parent project. For example: projects/{$project_number} or projects/{$project_id}",
                  "required": true,
                  "location": "path",
                  "type": "string"
                },
                "projectId": {
                  "location": "query",
                  "type": "string",
                  "description": "ID of the project",
                  "deprecated": true
                }
              },
              "httpMethod": "GET"
            },
            "get": {
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "parameters": {
                "name": {
                  "description": "This field should contain the name of the enterprise config resource. For example: \"projects/{$project_id}/locations/{$location_id}/githubEnterpriseConfigs/{$config_id}\"",
                  "type": "string",
                  "location": "path",
                  "required": true,
                  "pattern": "^projects/[^/]+/githubEnterpriseConfigs/[^/]+$"
                },
                "projectId": {
                  "description": "ID of the project",
                  "type": "string",
                  "location": "query",
                  "deprecated": true
                },
                "configId": {
                  "description": "Unique identifier of the `GitHubEnterpriseConfig`",
                  "deprecated": true,
                  "location": "query",
                  "type": "string"
                }
              },
              "parameterOrder": [
                "name"
              ],
              "flatPath": "v1/projects/{projectsId}/githubEnterpriseConfigs/{githubEnterpriseConfigsId}",
              "description": "Retrieve a GitHubEnterpriseConfig.",
              "httpMethod": "GET",
              "path": "v1/{+name}",
              "response": {
                "$ref": "#/schemas/GitHubEnterpriseConfig"
              },
              "id": "cloudbuild.projects.githubEnterpriseConfigs.get"
            },
            "delete": {
              "flatPath": "v1/projects/{projectsId}/githubEnterpriseConfigs/{githubEnterpriseConfigsId}",
              "parameterOrder": [
                "name"
              ],
              "path": "v1/{+name}",
              "description": "Delete an association between a GCP project and a GitHub Enterprise server.",
              "parameters": {
                "configId": {
                  "location": "query",
                  "description": "Unique identifier of the `GitHubEnterpriseConfig`",
                  "deprecated": true,
                  "type": "string"
                },
                "projectId": {
                  "description": "ID of the project",
                  "location": "query",
                  "type": "string",
                  "deprecated": true
                },
                "name": {
                  "description": "This field should contain the name of the enterprise config resource. For example: \"projects/{$project_id}/locations/{$location_id}/githubEnterpriseConfigs/{$config_id}\"",
                  "location": "path",
                  "pattern": "^projects/[^/]+/githubEnterpriseConfigs/[^/]+$",
                  "type": "string",
                  "required": true
                }
              },
              "response": {
                "$ref": "#/schemas/Operation"
              },
              "httpMethod": "DELETE",
              "id": "cloudbuild.projects.githubEnterpriseConfigs.delete",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ]
            },
            "create": {
              "request": {
                "$ref": "#/schemas/GitHubEnterpriseConfig"
              },
              "flatPath": "v1/projects/{projectsId}/githubEnterpriseConfigs",
              "path": "v1/{+parent}/githubEnterpriseConfigs",
              "parameters": {
                "projectId": {
                  "location": "query",
                  "deprecated": true,
                  "type": "string",
                  "description": "ID of the project."
                },
                "parent": {
                  "type": "string",
                  "description": "Name of the parent project. For example: projects/{$project_number} or projects/{$project_id}",
                  "location": "path",
                  "pattern": "^projects/[^/]+$",
                  "required": true
                },
                "gheConfigId": {
                  "location": "query",
                  "description": "Optional. The ID to use for the GithubEnterpriseConfig, which will become the final component of the GithubEnterpriseConfig's resource name. ghe_config_id must meet the following requirements: + They must contain only alphanumeric characters and dashes. + They can be 1-64 characters long. + They must begin and end with an alphanumeric character",
                  "type": "string"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "httpMethod": "POST",
              "description": "Create an association between a GCP project and a GitHub Enterprise server.",
              "parameterOrder": [
                "parent"
              ],
              "response": {
                "$ref": "#/schemas/Operation"
              },
              "id": "cloudbuild.projects.githubEnterpriseConfigs.create"
            }
          }
        },
        "locations": {
          "resources": {
            "triggers": {
              "methods": {
                "list": {
                  "response": {
                    "$ref": "#/schemas/ListBuildTriggersResponse"
                  },
                  "httpMethod": "GET",
                  "path": "v1/{+parent}/triggers",
                  "parameters": {
                    "pageSize": {
                      "description": "Number of results to return in the list.",
                      "location": "query",
                      "format": "int32",
                      "type": "integer"
                    },
                    "projectId": {
                      "description": "Required. ID of the project for which to list BuildTriggers.",
                      "location": "query",
                      "type": "string"
                    },
                    "pageToken": {
                      "location": "query",
                      "description": "Token to provide to skip to a particular spot in the list.",
                      "type": "string"
                    },
                    "parent": {
                      "location": "path",
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "required": true,
                      "description": "The parent of the collection of `Triggers`. Format: `projects/{project}/locations/{location}`"
                    }
                  },
                  "description": "Lists existing `BuildTrigger`s.",
                  "parameterOrder": [
                    "parent"
                  ],
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/triggers",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "id": "cloudbuild.projects.locations.triggers.list"
                },
                "patch": {
                  "response": {
                    "$ref": "#/schemas/BuildTrigger"
                  },
                  "parameterOrder": [
                    "resourceName"
                  ],
                  "description": "Updates a `BuildTrigger` by its project ID and trigger ID.",
                  "path": "v1/{+resourceName}",
                  "parameters": {
                    "triggerId": {
                      "location": "query",
                      "type": "string",
                      "description": "Required. ID of the `BuildTrigger` to update."
                    },
                    "resourceName": {
                      "pattern": "^projects/[^/]+/locations/[^/]+/triggers/[^/]+$",
                      "type": "string",
                      "required": true,
                      "description": "The `Trigger` name with format: `projects/{project}/locations/{location}/triggers/{trigger}`, where {trigger} is a unique identifier generated by the service.",
                      "location": "path"
                    },
                    "updateMask": {
                      "format": "google-fieldmask",
                      "type": "string",
                      "description": "Update mask for the resource. If this is set, the server will only update the fields specified in the field mask. Otherwise, a full update of the mutable resource fields will be performed.",
                      "location": "query"
                    },
                    "projectId": {
                      "location": "query",
                      "type": "string",
                      "description": "Required. ID of the project that owns the trigger."
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "httpMethod": "PATCH",
                  "request": {
                    "$ref": "#/schemas/BuildTrigger"
                  },
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/triggers/{triggersId}",
                  "id": "cloudbuild.projects.locations.triggers.patch"
                },
                "run": {
                  "parameters": {
                    "name": {
                      "type": "string",
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+/triggers/[^/]+$",
                      "description": "The name of the `Trigger` to run. Format: `projects/{project}/locations/{location}/triggers/{trigger}`",
                      "required": true
                    }
                  },
                  "request": {
                    "$ref": "#/schemas/RunBuildTriggerRequest"
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "id": "cloudbuild.projects.locations.triggers.run",
                  "description": "Runs a `BuildTrigger` at a particular source revision. To run a regional or global trigger, use the POST request that includes the location endpoint in the path (ex. v1/projects/{projectId}/locations/{region}/triggers/{triggerId}:run). The POST request that does not include the location endpoint in the path can only be used when running global triggers.",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/triggers/{triggersId}:run",
                  "path": "v1/{+name}:run",
                  "httpMethod": "POST",
                  "response": {
                    "$ref": "#/schemas/Operation"
                  }
                },
                "delete": {
                  "parameters": {
                    "triggerId": {
                      "location": "query",
                      "type": "string",
                      "description": "Required. ID of the `BuildTrigger` to delete."
                    },
                    "name": {
                      "type": "string",
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+/triggers/[^/]+$",
                      "description": "The name of the `Trigger` to delete. Format: `projects/{project}/locations/{location}/triggers/{trigger}`",
                      "location": "path"
                    },
                    "projectId": {
                      "type": "string",
                      "location": "query",
                      "description": "Required. ID of the project that owns the trigger."
                    }
                  },
                  "description": "Deletes a `BuildTrigger` by its project ID and trigger ID.",
                  "parameterOrder": [
                    "name"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/triggers/{triggersId}",
                  "httpMethod": "DELETE",
                  "response": {
                    "$ref": "#/schemas/Empty"
                  },
                  "path": "v1/{+name}",
                  "id": "cloudbuild.projects.locations.triggers.delete"
                },
                "webhook": {
                  "httpMethod": "POST",
                  "response": {
                    "$ref": "#/schemas/ReceiveTriggerWebhookResponse"
                  },
                  "description": "ReceiveTriggerWebhook [Experimental] is called when the API receives a webhook request targeted at a specific trigger.",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/triggers/{triggersId}:webhook",
                  "path": "v1/{+name}:webhook",
                  "parameters": {
                    "name": {
                      "required": true,
                      "description": "The name of the `ReceiveTriggerWebhook` to retrieve. Format: `projects/{project}/locations/{location}/triggers/{trigger}`",
                      "location": "path",
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+/triggers/[^/]+$"
                    },
                    "projectId": {
                      "type": "string",
                      "description": "Project in which the specified trigger lives",
                      "location": "query"
                    },
                    "secret": {
                      "location": "query",
                      "description": "Secret token used for authorization if an OAuth token isn't provided.",
                      "type": "string"
                    },
                    "trigger": {
                      "type": "string",
                      "location": "query",
                      "description": "Name of the trigger to run the payload against"
                    }
                  },
                  "id": "cloudbuild.projects.locations.triggers.webhook",
                  "request": {
                    "$ref": "#/schemas/HttpBody"
                  },
                  "parameterOrder": [
                    "name"
                  ]
                },
                "get": {
                  "path": "v1/{+name}",
                  "httpMethod": "GET",
                  "parameterOrder": [
                    "name"
                  ],
                  "id": "cloudbuild.projects.locations.triggers.get",
                  "parameters": {
                    "projectId": {
                      "location": "query",
                      "type": "string",
                      "description": "Required. ID of the project that owns the trigger."
                    },
                    "triggerId": {
                      "location": "query",
                      "type": "string",
                      "description": "Required. Identifier (`id` or `name`) of the `BuildTrigger` to get."
                    },
                    "name": {
                      "type": "string",
                      "location": "path",
                      "description": "The name of the `Trigger` to retrieve. Format: `projects/{project}/locations/{location}/triggers/{trigger}`",
                      "pattern": "^projects/[^/]+/locations/[^/]+/triggers/[^/]+$",
                      "required": true
                    }
                  },
                  "response": {
                    "$ref": "#/schemas/BuildTrigger"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/triggers/{triggersId}",
                  "description": "Returns information about a `BuildTrigger`."
                },
                "create": {
                  "httpMethod": "POST",
                  "parameterOrder": [
                    "parent"
                  ],
                  "path": "v1/{+parent}/triggers",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "Creates a new `BuildTrigger`.",
                  "id": "cloudbuild.projects.locations.triggers.create",
                  "request": {
                    "$ref": "#/schemas/BuildTrigger"
                  },
                  "parameters": {
                    "parent": {
                      "description": "The parent resource where this trigger will be created. Format: `projects/{project}/locations/{location}`",
                      "required": true,
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "location": "path"
                    },
                    "projectId": {
                      "type": "string",
                      "location": "query",
                      "description": "Required. ID of the project for which to configure automatic builds."
                    }
                  },
                  "response": {
                    "$ref": "#/schemas/BuildTrigger"
                  },
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/triggers"
                }
              }
            },
            "operations": {
              "methods": {
                "cancel": {
                  "id": "cloudbuild.projects.locations.operations.cancel",
                  "httpMethod": "POST",
                  "path": "v1/{+name}:cancel",
                  "request": {
                    "$ref": "#/schemas/CancelOperationRequest"
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "response": {
                    "$ref": "#/schemas/Empty"
                  },
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/operations/{operationsId}:cancel",
                  "parameters": {
                    "name": {
                      "description": "The name of the operation resource to be cancelled.",
                      "type": "string",
                      "location": "path",
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+/operations/[^/]+$"
                    }
                  },
                  "description": "Starts asynchronous cancellation on a long-running operation. The server makes a best effort to cancel the operation, but success is not guaranteed. If the server doesn't support this method, it returns `google.rpc.Code.UNIMPLEMENTED`. Clients can use Operations.GetOperation or other methods to check whether the cancellation succeeded or whether the operation completed despite cancellation. On successful cancellation, the operation is not deleted; instead, it becomes an operation with an Operation.error value with a google.rpc.Status.code of 1, corresponding to `Code.CANCELLED`."
                },
                "get": {
                  "httpMethod": "GET",
                  "response": {
                    "$ref": "#/schemas/Operation"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameters": {
                    "name": {
                      "pattern": "^projects/[^/]+/locations/[^/]+/operations/[^/]+$",
                      "location": "path",
                      "description": "The name of the operation resource.",
                      "required": true,
                      "type": "string"
                    }
                  },
                  "path": "v1/{+name}",
                  "parameterOrder": [
                    "name"
                  ],
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/operations/{operationsId}",
                  "id": "cloudbuild.projects.locations.operations.get",
                  "description": "Gets the latest state of a long-running operation. Clients can use this method to poll the operation result at intervals as recommended by the API service."
                }
              }
            },
            "workerPools": {
              "methods": {
                "get": {
                  "description": "Returns details of a `WorkerPool`.",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameters": {
                    "name": {
                      "pattern": "^projects/[^/]+/locations/[^/]+/workerPools/[^/]+$",
                      "type": "string",
                      "description": "Required. The name of the `WorkerPool` to retrieve. Format: `projects/{project}/locations/{location}/workerPools/{workerPool}`.",
                      "location": "path",
                      "required": true
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "id": "cloudbuild.projects.locations.workerPools.get",
                  "httpMethod": "GET",
                  "path": "v1/{+name}",
                  "response": {
                    "$ref": "#/schemas/WorkerPool"
                  },
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/workerPools/{workerPoolsId}"
                },
                "list": {
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "response": {
                    "$ref": "#/schemas/ListWorkerPoolsResponse"
                  },
                  "id": "cloudbuild.projects.locations.workerPools.list",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/workerPools",
                  "httpMethod": "GET",
                  "parameters": {
                    "parent": {
                      "location": "path",
                      "type": "string",
                      "required": true,
                      "description": "Required. The parent of the collection of `WorkerPools`. Format: `projects/{project}/locations/{location}`.",
                      "pattern": "^projects/[^/]+/locations/[^/]+$"
                    },
                    "pageToken": {
                      "description": "A page token, received from a previous `ListWorkerPools` call. Provide this to retrieve the subsequent page.",
                      "type": "string",
                      "location": "query"
                    },
                    "pageSize": {
                      "format": "int32",
                      "type": "integer",
                      "description": "The maximum number of `WorkerPool`s to return. The service may return fewer than this value. If omitted, the server will use a sensible default.",
                      "location": "query"
                    }
                  },
                  "path": "v1/{+parent}/workerPools",
                  "parameterOrder": [
                    "parent"
                  ],
                  "description": "Lists `WorkerPool`s."
                },
                "patch": {
                  "parameterOrder": [
                    "name"
                  ],
                  "response": {
                    "$ref": "#/schemas/Operation"
                  },
                  "path": "v1/{+name}",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/workerPools/{workerPoolsId}",
                  "id": "cloudbuild.projects.locations.workerPools.patch",
                  "description": "Updates a `WorkerPool`.",
                  "request": {
                    "$ref": "#/schemas/WorkerPool"
                  },
                  "parameters": {
                    "name": {
                      "required": true,
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+/workerPools/[^/]+$",
                      "description": "Output only. The resource name of the `WorkerPool`, with format `projects/{project}/locations/{location}/workerPools/{worker_pool}`. The value of `{worker_pool}` is provided by `worker_pool_id` in `CreateWorkerPool` request and the value of `{location}` is determined by the endpoint accessed.",
                      "location": "path"
                    },
                    "validateOnly": {
                      "description": "If set, validate the request and preview the response, but do not actually post it.",
                      "type": "boolean",
                      "location": "query"
                    },
                    "updateMask": {
                      "description": "A mask specifying which fields in `worker_pool` to update.",
                      "type": "string",
                      "location": "query",
                      "format": "google-fieldmask"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "httpMethod": "PATCH"
                },
                "create": {
                  "parameterOrder": [
                    "parent"
                  ],
                  "description": "Creates a `WorkerPool`.",
                  "path": "v1/{+parent}/workerPools",
                  "httpMethod": "POST",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/workerPools",
                  "id": "cloudbuild.projects.locations.workerPools.create",
                  "request": {
                    "$ref": "#/schemas/WorkerPool"
                  },
                  "parameters": {
                    "validateOnly": {
                      "type": "boolean",
                      "description": "If set, validate the request and preview the response, but do not actually post it.",
                      "location": "query"
                    },
                    "workerPoolId": {
                      "location": "query",
                      "description": "Required. Immutable. The ID to use for the `WorkerPool`, which will become the final component of the resource name. This value should be 1-63 characters, and valid characters are /a-z-/.",
                      "type": "string"
                    },
                    "parent": {
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "location": "path",
                      "type": "string",
                      "required": true,
                      "description": "Required. The parent resource where this worker pool will be created. Format: `projects/{project}/locations/{location}`."
                    }
                  },
                  "response": {
                    "$ref": "#/schemas/Operation"
                  }
                },
                "delete": {
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/workerPools/{workerPoolsId}",
                  "parameters": {
                    "validateOnly": {
                      "location": "query",
                      "description": "If set, validate the request and preview the response, but do not actually post it.",
                      "type": "boolean"
                    },
                    "etag": {
                      "type": "string",
                      "location": "query",
                      "description": "Optional. If provided, it must match the server's etag on the workerpool for the request to be processed."
                    },
                    "allowMissing": {
                      "type": "boolean",
                      "location": "query",
                      "description": "If set to true, and the `WorkerPool` is not found, the request will succeed but no action will be taken on the server."
                    },
                    "name": {
                      "description": "Required. The name of the `WorkerPool` to delete. Format: `projects/{project}/locations/{location}/workerPools/{workerPool}`.",
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+/workerPools/[^/]+$",
                      "type": "string",
                      "required": true
                    }
                  },
                  "httpMethod": "DELETE",
                  "id": "cloudbuild.projects.locations.workerPools.delete",
                  "path": "v1/{+name}",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameterOrder": [
                    "name"
                  ],
                  "description": "Deletes a `WorkerPool`.",
                  "response": {
                    "$ref": "#/schemas/Operation"
                  }
                }
              }
            },
            "gitLabConfigs": {
              "methods": {
                "patch": {
                  "description": "Updates an existing `GitLabConfig`. This API is experimental",
                  "path": "v1/{+name}",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameters": {
                    "updateMask": {
                      "location": "query",
                      "type": "string",
                      "format": "google-fieldmask",
                      "description": "Update mask for the resource. If this is set, the server will only update the fields specified in the field mask. Otherwise, a full update of the mutable resource fields will be performed."
                    },
                    "name": {
                      "required": true,
                      "type": "string",
                      "location": "path",
                      "description": "The resource name for the config.",
                      "pattern": "^projects/[^/]+/locations/[^/]+/gitLabConfigs/[^/]+$"
                    }
                  },
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/gitLabConfigs/{gitLabConfigsId}",
                  "response": {
                    "$ref": "#/schemas/Operation"
                  },
                  "httpMethod": "PATCH",
                  "parameterOrder": [
                    "name"
                  ],
                  "request": {
                    "$ref": "#/schemas/GitLabConfig"
                  },
                  "id": "cloudbuild.projects.locations.gitLabConfigs.patch"
                },
                "list": {
                  "description": "List all `GitLabConfigs` for a given project. This API is experimental",
                  "path": "v1/{+parent}/gitLabConfigs",
                  "parameters": {
                    "pageToken": {
                      "type": "string",
                      "location": "query",
                      "description": "A page token, received from a previous \u2018ListGitlabConfigsRequest\u2019 call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to \u2018ListGitlabConfigsRequest\u2019 must match the call that provided the page token."
                    },
                    "parent": {
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "description": "Required. Name of the parent resource",
                      "type": "string",
                      "location": "path",
                      "required": true
                    },
                    "pageSize": {
                      "location": "query",
                      "type": "integer",
                      "format": "int32",
                      "description": "The maximum number of configs to return. The service may return fewer than this value. If unspecified, at most 50 configs will be returned. The maximum value is 1000;, values above 1000 will be coerced to 1000."
                    }
                  },
                  "response": {
                    "$ref": "#/schemas/ListGitLabConfigsResponse"
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "id": "cloudbuild.projects.locations.gitLabConfigs.list",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/gitLabConfigs",
                  "httpMethod": "GET",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                },
                "create": {
                  "description": "Creates a new `GitLabConfig`. This API is experimental",
                  "parameters": {
                    "parent": {
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "required": true,
                      "description": "Required. Name of the parent resource.",
                      "location": "path"
                    },
                    "gitlabConfigId": {
                      "description": "Optional. The ID to use for the GitLabConfig, which will become the final component of the GitLabConfig\u2019s resource name. gitlab_config_id must meet the following requirements: + They must contain only alphanumeric characters and dashes. + They can be 1-64 characters long. + They must begin and end with an alphanumeric character",
                      "location": "query",
                      "type": "string"
                    }
                  },
                  "path": "v1/{+parent}/gitLabConfigs",
                  "request": {
                    "$ref": "#/schemas/GitLabConfig"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/gitLabConfigs",
                  "parameterOrder": [
                    "parent"
                  ],
                  "response": {
                    "$ref": "#/schemas/Operation"
                  },
                  "httpMethod": "POST",
                  "id": "cloudbuild.projects.locations.gitLabConfigs.create"
                },
                "delete": {
                  "parameters": {
                    "name": {
                      "pattern": "^projects/[^/]+/locations/[^/]+/gitLabConfigs/[^/]+$",
                      "type": "string",
                      "description": "Required. The config resource name.",
                      "required": true,
                      "location": "path"
                    }
                  },
                  "response": {
                    "$ref": "#/schemas/Operation"
                  },
                  "description": "Delete a `GitLabConfig`. This API is experimental",
                  "id": "cloudbuild.projects.locations.gitLabConfigs.delete",
                  "path": "v1/{+name}",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/gitLabConfigs/{gitLabConfigsId}",
                  "parameterOrder": [
                    "name"
                  ],
                  "httpMethod": "DELETE"
                },
                "get": {
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/gitLabConfigs/{gitLabConfigsId}",
                  "description": "Retrieves a `GitLabConfig`. This API is experimental",
                  "parameterOrder": [
                    "name"
                  ],
                  "httpMethod": "GET",
                  "response": {
                    "$ref": "#/schemas/GitLabConfig"
                  },
                  "parameters": {
                    "name": {
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+/gitLabConfigs/[^/]+$",
                      "description": "Required. The config resource name.",
                      "type": "string",
                      "required": true
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "path": "v1/{+name}",
                  "id": "cloudbuild.projects.locations.gitLabConfigs.get"
                },
                "removeGitLabConnectedRepository": {
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/gitLabConfigs/{gitLabConfigsId}:removeGitLabConnectedRepository",
                  "request": {
                    "$ref": "#/schemas/RemoveGitLabConnectedRepositoryRequest"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "httpMethod": "POST",
                  "description": "Remove a GitLab repository from a given GitLabConfig's connected repositories. This API is experimental.",
                  "id": "cloudbuild.projects.locations.gitLabConfigs.removeGitLabConnectedRepository",
                  "parameters": {
                    "config": {
                      "location": "path",
                      "description": "Required. The name of the `GitLabConfig` to remove a connected repository. Format: `projects/{project}/locations/{location}/gitLabConfigs/{config}`",
                      "required": true,
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+/gitLabConfigs/[^/]+$"
                    }
                  },
                  "response": {
                    "$ref": "#/schemas/Empty"
                  },
                  "path": "v1/{+config}:removeGitLabConnectedRepository",
                  "parameterOrder": [
                    "config"
                  ]
                }
              },
              "resources": {
                "connectedRepositories": {
                  "methods": {
                    "batchCreate": {
                      "parameterOrder": [
                        "parent"
                      ],
                      "request": {
                        "$ref": "#/schemas/BatchCreateGitLabConnectedRepositoriesRequest"
                      },
                      "response": {
                        "$ref": "#/schemas/Operation"
                      },
                      "path": "v1/{+parent}/connectedRepositories:batchCreate",
                      "httpMethod": "POST",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "description": "Batch connecting GitLab repositories to Cloud Build. This API is experimental.",
                      "id": "cloudbuild.projects.locations.gitLabConfigs.connectedRepositories.batchCreate",
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/gitLabConfigs/{gitLabConfigsId}/connectedRepositories:batchCreate",
                      "parameters": {
                        "parent": {
                          "location": "path",
                          "type": "string",
                          "required": true,
                          "description": "The name of the `GitLabConfig` that adds connected repositories. Format: `projects/{project}/locations/{location}/gitLabConfigs/{config}`",
                          "pattern": "^projects/[^/]+/locations/[^/]+/gitLabConfigs/[^/]+$"
                        }
                      }
                    }
                  }
                },
                "repos": {
                  "methods": {
                    "list": {
                      "id": "cloudbuild.projects.locations.gitLabConfigs.repos.list",
                      "parameters": {
                        "parent": {
                          "location": "path",
                          "required": true,
                          "description": "Required. Name of the parent resource.",
                          "pattern": "^projects/[^/]+/locations/[^/]+/gitLabConfigs/[^/]+$",
                          "type": "string"
                        },
                        "pageSize": {
                          "location": "query",
                          "description": "The maximum number of repositories to return. The service may return fewer than this value.",
                          "type": "integer",
                          "format": "int32"
                        },
                        "pageToken": {
                          "description": "A page token, received from a previous ListGitLabRepositoriesRequest` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListGitLabRepositoriesRequest` must match the call that provided the page token.",
                          "type": "string",
                          "location": "query"
                        }
                      },
                      "response": {
                        "$ref": "#/schemas/ListGitLabRepositoriesResponse"
                      },
                      "httpMethod": "GET",
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/gitLabConfigs/{gitLabConfigsId}/repos",
                      "parameterOrder": [
                        "parent"
                      ],
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "path": "v1/{+parent}/repos",
                      "description": "List all repositories for a given `GitLabConfig`. This API is experimental"
                    }
                  }
                }
              }
            },
            "bitbucketServerConfigs": {
              "methods": {
                "patch": {
                  "description": "Updates an existing `BitbucketServerConfig`. This API is experimental.",
                  "id": "cloudbuild.projects.locations.bitbucketServerConfigs.patch",
                  "parameterOrder": [
                    "name"
                  ],
                  "httpMethod": "PATCH",
                  "path": "v1/{+name}",
                  "response": {
                    "$ref": "#/schemas/Operation"
                  },
                  "parameters": {
                    "name": {
                      "description": "The resource name for the config.",
                      "location": "path",
                      "required": true,
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+/bitbucketServerConfigs/[^/]+$"
                    },
                    "updateMask": {
                      "location": "query",
                      "description": "Update mask for the resource. If this is set, the server will only update the fields specified in the field mask. Otherwise, a full update of the mutable resource fields will be performed.",
                      "format": "google-fieldmask",
                      "type": "string"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "request": {
                    "$ref": "#/schemas/BitbucketServerConfig"
                  },
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/bitbucketServerConfigs/{bitbucketServerConfigsId}"
                },
                "list": {
                  "httpMethod": "GET",
                  "parameterOrder": [
                    "parent"
                  ],
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/bitbucketServerConfigs",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "path": "v1/{+parent}/bitbucketServerConfigs",
                  "response": {
                    "$ref": "#/schemas/ListBitbucketServerConfigsResponse"
                  },
                  "parameters": {
                    "pageSize": {
                      "description": "The maximum number of configs to return. The service may return fewer than this value. If unspecified, at most 50 configs will be returned. The maximum value is 1000; values above 1000 will be coerced to 1000.",
                      "type": "integer",
                      "format": "int32",
                      "location": "query"
                    },
                    "pageToken": {
                      "description": "A page token, received from a previous `ListBitbucketServerConfigsRequest` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListBitbucketServerConfigsRequest` must match the call that provided the page token.",
                      "type": "string",
                      "location": "query"
                    },
                    "parent": {
                      "required": true,
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "description": "Required. Name of the parent resource.",
                      "location": "path"
                    }
                  },
                  "id": "cloudbuild.projects.locations.bitbucketServerConfigs.list",
                  "description": "List all `BitbucketServerConfigs` for a given project. This API is experimental."
                },
                "get": {
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/bitbucketServerConfigs/{bitbucketServerConfigsId}",
                  "response": {
                    "$ref": "#/schemas/BitbucketServerConfig"
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "Retrieve a `BitbucketServerConfig`. This API is experimental.",
                  "parameters": {
                    "name": {
                      "location": "path",
                      "type": "string",
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+/bitbucketServerConfigs/[^/]+$",
                      "description": "Required. The config resource name."
                    }
                  },
                  "id": "cloudbuild.projects.locations.bitbucketServerConfigs.get",
                  "httpMethod": "GET",
                  "path": "v1/{+name}"
                },
                "create": {
                  "path": "v1/{+parent}/bitbucketServerConfigs",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameters": {
                    "bitbucketServerConfigId": {
                      "type": "string",
                      "location": "query",
                      "description": "Optional. The ID to use for the BitbucketServerConfig, which will become the final component of the BitbucketServerConfig's resource name. bitbucket_server_config_id must meet the following requirements: + They must contain only alphanumeric characters and dashes. + They can be 1-64 characters long. + They must begin and end with an alphanumeric character."
                    },
                    "parent": {
                      "required": true,
                      "type": "string",
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "description": "Required. Name of the parent resource."
                    }
                  },
                  "httpMethod": "POST",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/bitbucketServerConfigs",
                  "description": "Creates a new `BitbucketServerConfig`. This API is experimental.",
                  "request": {
                    "$ref": "#/schemas/BitbucketServerConfig"
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "id": "cloudbuild.projects.locations.bitbucketServerConfigs.create",
                  "response": {
                    "$ref": "#/schemas/Operation"
                  }
                },
                "removeBitbucketServerConnectedRepository": {
                  "parameters": {
                    "config": {
                      "type": "string",
                      "required": true,
                      "location": "path",
                      "description": "Required. The name of the `BitbucketServerConfig` to remove a connected repository. Format: `projects/{project}/locations/{location}/bitbucketServerConfigs/{config}`",
                      "pattern": "^projects/[^/]+/locations/[^/]+/bitbucketServerConfigs/[^/]+$"
                    }
                  },
                  "path": "v1/{+config}:removeBitbucketServerConnectedRepository",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/bitbucketServerConfigs/{bitbucketServerConfigsId}:removeBitbucketServerConnectedRepository",
                  "response": {
                    "$ref": "#/schemas/Empty"
                  },
                  "description": "Remove a Bitbucket Server repository from a given BitbucketServerConfig's connected repositories. This API is experimental.",
                  "httpMethod": "POST",
                  "parameterOrder": [
                    "config"
                  ],
                  "id": "cloudbuild.projects.locations.bitbucketServerConfigs.removeBitbucketServerConnectedRepository",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "request": {
                    "$ref": "#/schemas/RemoveBitbucketServerConnectedRepositoryRequest"
                  }
                },
                "delete": {
                  "description": "Delete a `BitbucketServerConfig`. This API is experimental.",
                  "parameterOrder": [
                    "name"
                  ],
                  "parameters": {
                    "name": {
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+/bitbucketServerConfigs/[^/]+$",
                      "required": true,
                      "location": "path",
                      "description": "Required. The config resource name."
                    }
                  },
                  "id": "cloudbuild.projects.locations.bitbucketServerConfigs.delete",
                  "path": "v1/{+name}",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/bitbucketServerConfigs/{bitbucketServerConfigsId}",
                  "response": {
                    "$ref": "#/schemas/Operation"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "httpMethod": "DELETE"
                }
              },
              "resources": {
                "connectedRepositories": {
                  "methods": {
                    "batchCreate": {
                      "description": "Batch connecting Bitbucket Server repositories to Cloud Build.",
                      "parameterOrder": [
                        "parent"
                      ],
                      "id": "cloudbuild.projects.locations.bitbucketServerConfigs.connectedRepositories.batchCreate",
                      "parameters": {
                        "parent": {
                          "required": true,
                          "pattern": "^projects/[^/]+/locations/[^/]+/bitbucketServerConfigs/[^/]+$",
                          "location": "path",
                          "description": "The name of the `BitbucketServerConfig` that added connected repository. Format: `projects/{project}/locations/{location}/bitbucketServerConfigs/{config}`",
                          "type": "string"
                        }
                      },
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/bitbucketServerConfigs/{bitbucketServerConfigsId}/connectedRepositories:batchCreate",
                      "httpMethod": "POST",
                      "response": {
                        "$ref": "#/schemas/Operation"
                      },
                      "request": {
                        "$ref": "#/schemas/BatchCreateBitbucketServerConnectedRepositoriesRequest"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "path": "v1/{+parent}/connectedRepositories:batchCreate"
                    }
                  }
                },
                "repos": {
                  "methods": {
                    "list": {
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/bitbucketServerConfigs/{bitbucketServerConfigsId}/repos",
                      "path": "v1/{+parent}/repos",
                      "response": {
                        "$ref": "#/schemas/ListBitbucketServerRepositoriesResponse"
                      },
                      "parameters": {
                        "pageSize": {
                          "type": "integer",
                          "location": "query",
                          "description": "The maximum number of configs to return. The service may return fewer than this value. The maximum value is 1000; values above 1000 will be coerced to 1000.",
                          "format": "int32"
                        },
                        "pageToken": {
                          "type": "string",
                          "description": "A page token, received from a previous `ListBitbucketServerRepositoriesRequest` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListBitbucketServerConfigsRequest` must match the call that provided the page token.",
                          "location": "query"
                        },
                        "parent": {
                          "location": "path",
                          "required": true,
                          "description": "Required. Name of the parent resource.",
                          "type": "string",
                          "pattern": "^projects/[^/]+/locations/[^/]+/bitbucketServerConfigs/[^/]+$"
                        }
                      },
                      "description": "List all repositories for a given `BitbucketServerConfig`. This API is experimental.",
                      "id": "cloudbuild.projects.locations.bitbucketServerConfigs.repos.list",
                      "httpMethod": "GET",
                      "parameterOrder": [
                        "parent"
                      ],
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ]
                    }
                  }
                }
              }
            },
            "builds": {
              "methods": {
                "create": {
                  "response": {
                    "$ref": "#/schemas/Operation"
                  },
                  "description": "Starts a build with the specified configuration. This method returns a long-running `Operation`, which includes the build ID. Pass the build ID to `GetBuild` to determine the build status (such as `SUCCESS` or `FAILURE`).",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/builds",
                  "httpMethod": "POST",
                  "request": {
                    "$ref": "#/schemas/Build"
                  },
                  "parameters": {
                    "projectId": {
                      "description": "Required. ID of the project.",
                      "location": "query",
                      "type": "string"
                    },
                    "parent": {
                      "description": "The parent resource where this build will be created. Format: `projects/{project}/locations/{location}`",
                      "required": true,
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "type": "string"
                    }
                  },
                  "path": "v1/{+parent}/builds",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameterOrder": [
                    "parent"
                  ],
                  "id": "cloudbuild.projects.locations.builds.create"
                },
                "list": {
                  "parameterOrder": [
                    "parent"
                  ],
                  "path": "v1/{+parent}/builds",
                  "response": {
                    "$ref": "#/schemas/ListBuildsResponse"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameters": {
                    "pageToken": {
                      "location": "query",
                      "description": "The page token for the next page of Builds. If unspecified, the first page of results is returned. If the token is rejected for any reason, INVALID_ARGUMENT will be thrown. In this case, the token should be discarded, and pagination should be restarted from the first page of results. See https://google.aip.dev/158 for more.",
                      "type": "string"
                    },
                    "parent": {
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "type": "string",
                      "location": "path",
                      "description": "The parent of the collection of `Builds`. Format: `projects/{project}/locations/{location}`",
                      "required": true
                    },
                    "filter": {
                      "location": "query",
                      "type": "string",
                      "description": "The raw filter text to constrain the results."
                    },
                    "pageSize": {
                      "location": "query",
                      "type": "integer",
                      "description": "Number of results to return in the list.",
                      "format": "int32"
                    },
                    "projectId": {
                      "location": "query",
                      "type": "string",
                      "description": "Required. ID of the project."
                    }
                  },
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/builds",
                  "id": "cloudbuild.projects.locations.builds.list",
                  "description": "Lists previously requested builds. Previously requested builds may still be in-progress, or may have finished successfully or unsuccessfully.",
                  "httpMethod": "GET"
                },
                "cancel": {
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/builds/{buildsId}:cancel",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "request": {
                    "$ref": "#/schemas/CancelBuildRequest"
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "description": "Cancels a build in progress.",
                  "parameters": {
                    "name": {
                      "type": "string",
                      "location": "path",
                      "description": "The name of the `Build` to cancel. Format: `projects/{project}/locations/{location}/builds/{build}`",
                      "pattern": "^projects/[^/]+/locations/[^/]+/builds/[^/]+$",
                      "required": true
                    }
                  },
                  "path": "v1/{+name}:cancel",
                  "response": {
                    "$ref": "#/schemas/Build"
                  },
                  "httpMethod": "POST",
                  "id": "cloudbuild.projects.locations.builds.cancel"
                },
                "get": {
                  "id": "cloudbuild.projects.locations.builds.get",
                  "httpMethod": "GET",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "response": {
                    "$ref": "#/schemas/Build"
                  },
                  "parameters": {
                    "id": {
                      "location": "query",
                      "description": "Required. ID of the build.",
                      "type": "string"
                    },
                    "name": {
                      "pattern": "^projects/[^/]+/locations/[^/]+/builds/[^/]+$",
                      "location": "path",
                      "description": "The name of the `Build` to retrieve. Format: `projects/{project}/locations/{location}/builds/{build}`",
                      "type": "string",
                      "required": true
                    },
                    "projectId": {
                      "type": "string",
                      "description": "Required. ID of the project.",
                      "location": "query"
                    }
                  },
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/builds/{buildsId}",
                  "parameterOrder": [
                    "name"
                  ],
                  "description": "Returns information about a previously requested build. The `Build` that is returned includes its status (such as `SUCCESS`, `FAILURE`, or `WORKING`), and timing information.",
                  "path": "v1/{+name}"
                },
                "approve": {
                  "response": {
                    "$ref": "#/schemas/Operation"
                  },
                  "description": "Approves or rejects a pending build. If approved, the returned LRO will be analogous to the LRO returned from a CreateBuild call. If rejected, the returned LRO will be immediately done.",
                  "parameters": {
                    "name": {
                      "location": "path",
                      "required": true,
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+/builds/[^/]+$",
                      "description": "Required. Name of the target build. For example: \"projects/{$project_id}/builds/{$build_id}\""
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "httpMethod": "POST",
                  "id": "cloudbuild.projects.locations.builds.approve",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/builds/{buildsId}:approve",
                  "request": {
                    "$ref": "#/schemas/ApproveBuildRequest"
                  },
                  "path": "v1/{+name}:approve"
                },
                "retry": {
                  "id": "cloudbuild.projects.locations.builds.retry",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameterOrder": [
                    "name"
                  ],
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/builds/{buildsId}:retry",
                  "httpMethod": "POST",
                  "description": "Creates a new build based on the specified build. This method creates a new build using the original build request, which may or may not result in an identical build. For triggered builds: * Triggered builds resolve to a precise revision; therefore a retry of a triggered build will result in a build that uses the same revision. For non-triggered builds that specify `RepoSource`: * If the original build built from the tip of a branch, the retried build will build from the tip of that branch, which may not be the same revision as the original build. * If the original build specified a commit sha or revision ID, the retried build will use the identical source. For builds that specify `StorageSource`: * If the original build pulled source from Cloud Storage without specifying the generation of the object, the new build will use the current object, which may be different from the original build source. * If the original build pulled source from Cloud Storage and specified the generation of the object, the new build will attempt to use the same object, which may or may not be available depending on the bucket's lifecycle management settings.",
                  "path": "v1/{+name}:retry",
                  "parameters": {
                    "name": {
                      "location": "path",
                      "type": "string",
                      "description": "The name of the `Build` to retry. Format: `projects/{project}/locations/{location}/builds/{build}`",
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+/builds/[^/]+$"
                    }
                  },
                  "request": {
                    "$ref": "#/schemas/RetryBuildRequest"
                  },
                  "response": {
                    "$ref": "#/schemas/Operation"
                  }
                }
              }
            },
            "githubEnterpriseConfigs": {
              "methods": {
                "create": {
                  "id": "cloudbuild.projects.locations.githubEnterpriseConfigs.create",
                  "response": {
                    "$ref": "#/schemas/Operation"
                  },
                  "description": "Create an association between a GCP project and a GitHub Enterprise server.",
                  "parameters": {
                    "projectId": {
                      "deprecated": true,
                      "location": "query",
                      "type": "string",
                      "description": "ID of the project."
                    },
                    "gheConfigId": {
                      "type": "string",
                      "description": "Optional. The ID to use for the GithubEnterpriseConfig, which will become the final component of the GithubEnterpriseConfig's resource name. ghe_config_id must meet the following requirements: + They must contain only alphanumeric characters and dashes. + They can be 1-64 characters long. + They must begin and end with an alphanumeric character",
                      "location": "query"
                    },
                    "parent": {
                      "description": "Name of the parent project. For example: projects/{$project_number} or projects/{$project_id}",
                      "required": true,
                      "location": "path",
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+$"
                    }
                  },
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/githubEnterpriseConfigs",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "request": {
                    "$ref": "#/schemas/GitHubEnterpriseConfig"
                  },
                  "path": "v1/{+parent}/githubEnterpriseConfigs",
                  "httpMethod": "POST",
                  "parameterOrder": [
                    "parent"
                  ]
                },
                "patch": {
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "httpMethod": "PATCH",
                  "request": {
                    "$ref": "#/schemas/GitHubEnterpriseConfig"
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/githubEnterpriseConfigs/{githubEnterpriseConfigsId}",
                  "response": {
                    "$ref": "#/schemas/Operation"
                  },
                  "description": "Update an association between a GCP project and a GitHub Enterprise server.",
                  "parameters": {
                    "updateMask": {
                      "type": "string",
                      "description": "Update mask for the resource. If this is set, the server will only update the fields specified in the field mask. Otherwise, a full update of the mutable resource fields will be performed.",
                      "format": "google-fieldmask",
                      "location": "query"
                    },
                    "name": {
                      "required": true,
                      "description": "Optional. The full resource name for the GitHubEnterpriseConfig For example: \"projects/{$project_id}/locations/{$location_id}/githubEnterpriseConfigs/{$config_id}\"",
                      "pattern": "^projects/[^/]+/locations/[^/]+/githubEnterpriseConfigs/[^/]+$",
                      "type": "string",
                      "location": "path"
                    }
                  },
                  "id": "cloudbuild.projects.locations.githubEnterpriseConfigs.patch",
                  "path": "v1/{+name}"
                },
                "list": {
                  "id": "cloudbuild.projects.locations.githubEnterpriseConfigs.list",
                  "parameters": {
                    "parent": {
                      "type": "string",
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "required": true,
                      "description": "Name of the parent project. For example: projects/{$project_number} or projects/{$project_id}"
                    },
                    "projectId": {
                      "description": "ID of the project",
                      "type": "string",
                      "location": "query",
                      "deprecated": true
                    }
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "List all GitHubEnterpriseConfigs for a given project.",
                  "httpMethod": "GET",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/githubEnterpriseConfigs",
                  "response": {
                    "$ref": "#/schemas/ListGithubEnterpriseConfigsResponse"
                  },
                  "path": "v1/{+parent}/githubEnterpriseConfigs"
                },
                "delete": {
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/githubEnterpriseConfigs/{githubEnterpriseConfigsId}",
                  "path": "v1/{+name}",
                  "parameterOrder": [
                    "name"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "Delete an association between a GCP project and a GitHub Enterprise server.",
                  "id": "cloudbuild.projects.locations.githubEnterpriseConfigs.delete",
                  "parameters": {
                    "configId": {
                      "description": "Unique identifier of the `GitHubEnterpriseConfig`",
                      "type": "string",
                      "deprecated": true,
                      "location": "query"
                    },
                    "name": {
                      "type": "string",
                      "description": "This field should contain the name of the enterprise config resource. For example: \"projects/{$project_id}/locations/{$location_id}/githubEnterpriseConfigs/{$config_id}\"",
                      "pattern": "^projects/[^/]+/locations/[^/]+/githubEnterpriseConfigs/[^/]+$",
                      "required": true,
                      "location": "path"
                    },
                    "projectId": {
                      "location": "query",
                      "deprecated": true,
                      "type": "string",
                      "description": "ID of the project"
                    }
                  },
                  "response": {
                    "$ref": "#/schemas/Operation"
                  },
                  "httpMethod": "DELETE"
                },
                "get": {
                  "parameterOrder": [
                    "name"
                  ],
                  "httpMethod": "GET",
                  "id": "cloudbuild.projects.locations.githubEnterpriseConfigs.get",
                  "response": {
                    "$ref": "#/schemas/GitHubEnterpriseConfig"
                  },
                  "path": "v1/{+name}",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/githubEnterpriseConfigs/{githubEnterpriseConfigsId}",
                  "parameters": {
                    "name": {
                      "pattern": "^projects/[^/]+/locations/[^/]+/githubEnterpriseConfigs/[^/]+$",
                      "location": "path",
                      "description": "This field should contain the name of the enterprise config resource. For example: \"projects/{$project_id}/locations/{$location_id}/githubEnterpriseConfigs/{$config_id}\"",
                      "type": "string",
                      "required": true
                    },
                    "configId": {
                      "description": "Unique identifier of the `GitHubEnterpriseConfig`",
                      "deprecated": true,
                      "type": "string",
                      "location": "query"
                    },
                    "projectId": {
                      "description": "ID of the project",
                      "deprecated": true,
                      "type": "string",
                      "location": "query"
                    }
                  },
                  "description": "Retrieve a GitHubEnterpriseConfig.",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                }
              }
            }
          }
        },
        "triggers": {
          "methods": {
            "webhook": {
              "parameterOrder": [
                "projectId",
                "trigger"
              ],
              "description": "ReceiveTriggerWebhook [Experimental] is called when the API receives a webhook request targeted at a specific trigger.",
              "path": "v1/projects/{projectId}/triggers/{trigger}:webhook",
              "httpMethod": "POST",
              "response": {
                "$ref": "#/schemas/ReceiveTriggerWebhookResponse"
              },
              "request": {
                "$ref": "#/schemas/HttpBody"
              },
              "parameters": {
                "secret": {
                  "location": "query",
                  "description": "Secret token used for authorization if an OAuth token isn't provided.",
                  "type": "string"
                },
                "name": {
                  "type": "string",
                  "description": "The name of the `ReceiveTriggerWebhook` to retrieve. Format: `projects/{project}/locations/{location}/triggers/{trigger}`",
                  "location": "query"
                },
                "trigger": {
                  "type": "string",
                  "required": true,
                  "description": "Name of the trigger to run the payload against",
                  "location": "path"
                },
                "projectId": {
                  "location": "path",
                  "description": "Project in which the specified trigger lives",
                  "required": true,
                  "type": "string"
                }
              },
              "id": "cloudbuild.projects.triggers.webhook",
              "flatPath": "v1/projects/{projectId}/triggers/{trigger}:webhook"
            },
            "list": {
              "parameterOrder": [
                "projectId"
              ],
              "response": {
                "$ref": "#/schemas/ListBuildTriggersResponse"
              },
              "description": "Lists existing `BuildTrigger`s.",
              "path": "v1/projects/{projectId}/triggers",
              "flatPath": "v1/projects/{projectId}/triggers",
              "httpMethod": "GET",
              "parameters": {
                "projectId": {
                  "type": "string",
                  "required": true,
                  "description": "Required. ID of the project for which to list BuildTriggers.",
                  "location": "path"
                },
                "parent": {
                  "description": "The parent of the collection of `Triggers`. Format: `projects/{project}/locations/{location}`",
                  "location": "query",
                  "type": "string"
                },
                "pageToken": {
                  "description": "Token to provide to skip to a particular spot in the list.",
                  "type": "string",
                  "location": "query"
                },
                "pageSize": {
                  "format": "int32",
                  "description": "Number of results to return in the list.",
                  "location": "query",
                  "type": "integer"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "id": "cloudbuild.projects.triggers.list"
            },
            "run": {
              "parameterOrder": [
                "projectId",
                "triggerId"
              ],
              "request": {
                "$ref": "#/schemas/RepoSource"
              },
              "path": "v1/projects/{projectId}/triggers/{triggerId}:run",
              "httpMethod": "POST",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "parameters": {
                "projectId": {
                  "required": true,
                  "type": "string",
                  "description": "Required. ID of the project.",
                  "location": "path"
                },
                "name": {
                  "description": "The name of the `Trigger` to run. Format: `projects/{project}/locations/{location}/triggers/{trigger}`",
                  "location": "query",
                  "type": "string"
                },
                "triggerId": {
                  "required": true,
                  "type": "string",
                  "description": "Required. ID of the trigger.",
                  "location": "path"
                }
              },
              "flatPath": "v1/projects/{projectId}/triggers/{triggerId}:run",
              "response": {
                "$ref": "#/schemas/Operation"
              },
              "description": "Runs a `BuildTrigger` at a particular source revision. To run a regional or global trigger, use the POST request that includes the location endpoint in the path (ex. v1/projects/{projectId}/locations/{region}/triggers/{triggerId}:run). The POST request that does not include the location endpoint in the path can only be used when running global triggers.",
              "id": "cloudbuild.projects.triggers.run"
            },
            "delete": {
              "parameters": {
                "triggerId": {
                  "required": true,
                  "type": "string",
                  "description": "Required. ID of the `BuildTrigger` to delete.",
                  "location": "path"
                },
                "projectId": {
                  "description": "Required. ID of the project that owns the trigger.",
                  "type": "string",
                  "location": "path",
                  "required": true
                },
                "name": {
                  "location": "query",
                  "type": "string",
                  "description": "The name of the `Trigger` to delete. Format: `projects/{project}/locations/{location}/triggers/{trigger}`"
                }
              },
              "path": "v1/projects/{projectId}/triggers/{triggerId}",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "flatPath": "v1/projects/{projectId}/triggers/{triggerId}",
              "httpMethod": "DELETE",
              "parameterOrder": [
                "projectId",
                "triggerId"
              ],
              "description": "Deletes a `BuildTrigger` by its project ID and trigger ID.",
              "response": {
                "$ref": "#/schemas/Empty"
              },
              "id": "cloudbuild.projects.triggers.delete"
            },
            "get": {
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "response": {
                "$ref": "#/schemas/BuildTrigger"
              },
              "id": "cloudbuild.projects.triggers.get",
              "path": "v1/projects/{projectId}/triggers/{triggerId}",
              "parameterOrder": [
                "projectId",
                "triggerId"
              ],
              "httpMethod": "GET",
              "description": "Returns information about a `BuildTrigger`.",
              "parameters": {
                "triggerId": {
                  "location": "path",
                  "type": "string",
                  "required": true,
                  "description": "Required. Identifier (`id` or `name`) of the `BuildTrigger` to get."
                },
                "name": {
                  "location": "query",
                  "type": "string",
[...]
